<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="%oda.data.source.id">
         <newDataSourceWizard
               pageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.WebServiceSelectionPage"
               includesProgressMonitor="false"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            supportsOutParameters="false"
            supportsInParameters="true"
            initialPageId="org.eclipse.datatools.enablement.oda.ws.ui.OperationPage"
            id="org.eclipse.datatools.enablement.oda.ws.dataSet">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.data.set.window.title">
         </dataSetWizard>
         <dataSetPage
               displayName="%oda.ws.operation"
               id="org.eclipse.datatools.enablement.oda.ws.ui.OperationPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.OperationPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.soaprequest"
               id="org.eclipse.datatools.enablement.oda.ws.ui.SOAPRequestPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.SOAPRequestPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.soapresponse"
               id="org.eclipse.datatools.enablement.oda.ws.ui.SOAPResponsePage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.SOAPResponsePage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.tablemapping"
               id="org.eclipse.datatools.enablement.oda.ws.ui.XMLTableMappingPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.XMLTableMappingPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.columnmapping"
               id="org.eclipse.datatools.enablement.oda.ws.ui.XMLColumnMappingPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.XMLColumnMappingPage">
         </dataSetPage>
      </dataSetUI>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            icon="icons/profile.gif"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile"
            name="%profile.propertypage.name"
            class="org.eclipse.datatools.enablement.oda.ws.ui.wizards.WebServicePropertyPage"
            id="%oda.data.source.id">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id">
         </filter>
      </page>
   </extension>

</plugin>
