<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="%oda.data.source.id">
         <newDataSourceWizard
               pageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.WebServiceSelectionPage"
               includesProgressMonitor="false"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            supportsOutParameters="false"
            supportsInParameters="true"
            initialPageId="org.eclipse.datatools.enablement.oda.ws.ui.OperationPage"
            id="org.eclipse.datatools.enablement.oda.ws.dataSet">
         <dataSetWizard
               class="org.eclipse.datatools.enablement.oda.ws.ui.wizards.SOAPDataSetWizard"
               windowTitle="%wizard.data.set.window.title">
         </dataSetWizard>
         <dataSetPage
               displayName="%oda.ws.operation"
               id="org.eclipse.datatools.enablement.oda.ws.ui.OperationPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.OperationPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.soapparameters"
               id="org.eclipse.datatools.enablement.oda.ws.ui.SOAPParametersPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.SOAPParametersPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.soaprequest"
               id="org.eclipse.datatools.enablement.oda.ws.ui.SOAPRequestPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.SOAPRequestPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.soapresponse"
               id="org.eclipse.datatools.enablement.oda.ws.ui.SOAPResponsePage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.SOAPResponsePage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.tablemapping"
               id="org.eclipse.datatools.enablement.oda.ws.ui.XMLTableMappingPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.XMLTableMappingPage">
         </dataSetPage>
         <dataSetPage
               displayName="%oda.ws.columnmapping"
               id="org.eclipse.datatools.enablement.oda.ws.ui.XMLColumnMappingPage"
               wizardPageClass="org.eclipse.datatools.enablement.oda.ws.ui.wizards.XMLColumnMappingPage">
         </dataSetPage>
      </dataSetUI>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
		<newWizard
            id="%oda.data.source.id"
            name="%newwizard.name"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="%newwizard.description"
            icon="icons/new_oda_dswiz.ico"
            profile="%oda.data.source.id"/>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.ui.connectionProfileImage">
      <profileImage
            profileID="%oda.data.source.id"
            icon="icons/profile.gif">
      </profileImage>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%profile.propertypage.name"
            class="org.eclipse.datatools.enablement.oda.ws.ui.wizards.WebServicePropertyPage"
            id="%oda.data.source.id">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id">
         </filter>
      </page>
   </extension>

</plugin>
