<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            icon="icons/jdbc_16.gif"
            id="org.eclipse.datatools.enablement.oracle.connectionProfile"
            name="%profile.oracle.title"
            pingFactory="org.eclipse.datatools.enablement.internal.oracle.JDBCOracleConnectionFactory"
            propertiesPersistenceHook="org.eclipse.datatools.enablement.internal.oracle.OracleDBPropertiesPersistenceHook"/>
      <connectionFactory
            class="org.eclipse.datatools.enablement.internal.oracle.JDBCOracleConnectionFactory"
            id="java.sql.Connection"
            name="%jdbc.connection.name"
            profile="org.eclipse.datatools.enablement.oracle.connectionProfile"/>
   </extension>
   
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      	 <category
      		parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
            id="org.eclipse.datatools.enablement.oracle.driverCategory"
            name="%ORACLE_CATEGORY_NAME"/>
		 <category
      		parentCategory="org.eclipse.datatools.enablement.oracle.driverCategory"
            id="org.eclipse.datatools.enablement.oracle.12.driverCategory"
            name="%12_VERSION_CATEGORY_NAME"/>
         <category
      		parentCategory="org.eclipse.datatools.enablement.oracle.driverCategory"
            id="org.eclipse.datatools.enablement.oracle.11.driverCategory"
            name="%11_VERSION_CATEGORY_NAME"/>
         <category
      		parentCategory="org.eclipse.datatools.enablement.oracle.driverCategory"
            id="org.eclipse.datatools.enablement.oracle.10.driverCategory"
            name="%10_VERSION_CATEGORY_NAME"/> 
         <category
      		parentCategory="org.eclipse.datatools.enablement.oracle.driverCategory"
            id="org.eclipse.datatools.enablement.oracle.9.driverCategory"
            name="%9_VERSION_CATEGORY_NAME"/> 
         <category
      		parentCategory="org.eclipse.datatools.enablement.oracle.driverCategory"
            id="org.eclipse.datatools.enablement.oracle.8.driverCategory"
            name="%8_VERSION_CATEGORY_NAME"/> 
    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.10.driverTemplate" 
          jarList="ojdbc14.jar" 
          name="%org.eclipse.datatools.enablement.oracle.10.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.10.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="oracle.jdbc.OracleDriver" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="10" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="db" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="jdbc:oracle:thin:@server:1521:db" 
                required="true" 
                visible="true"/> 
           <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/>     
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.11.driverTemplate" 
          jarList="ojdbc14.jar" 
          name="%org.eclipse.datatools.enablement.oracle.11.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.11.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="oracle.jdbc.OracleDriver" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="11" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="db" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="jdbc:oracle:thin:@server:1521:db" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.9.driverTemplate" 
          jarList="classes12.jar" 
          name="%org.eclipse.datatools.enablement.oracle.9.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.9.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="oracle.jdbc.OracleDriver" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="9" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="db" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="jdbc:oracle:thin:@server:1521:db" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.8.driverTemplate" 
          jarList="classes12.jar" 
          name="%org.eclipse.datatools.enablement.oracle.8.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.8.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="oracle.jdbc.OracleDriver" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="8" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="db" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="jdbc:oracle:thin:@server:1521:db" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.11.other.driverTemplate" 
          jarList="" 
          name="%org.eclipse.datatools.enablement.oracle.11.other.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.11.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="11" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.10.other.driverTemplate" 
          jarList="" 
          name="%org.eclipse.datatools.enablement.oracle.10.other.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.10.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="10" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.9.other.driverTemplate" 
          jarList="" 
          name="%org.eclipse.datatools.enablement.oracle.9.other.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.9.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="9" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.enablement.oracle.8.other.driverTemplate" 
          jarList="" 
          name="%org.eclipse.datatools.enablement.oracle.8.other.driverTemplate" 
          parentCategory="org.eclipse.datatools.enablement.oracle.8.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="%driverClass" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="%driverVendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="%driverVersion" 
                value="8" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="%driverDBName" 
                value="" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="%driverConnectionURL" 
                value="" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.enablement.oracle.catalogType" 
                name="%catalogType" 
                value="USER" 
                required="false" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="%driverUID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.mappings">
      <providerIDtoDriverCategoryID
            driverCategoryID="org.eclipse.datatools.enablement.oracle.driverCategory"
            providerID="org.eclipse.datatools.enablement.oracle.connectionProfile">
      </providerIDtoDriverCategoryID>
   </extension>
 </plugin>  
