<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="deltaDdlGenProvider" name="%deltaDdlGenProviderExtPointName" schema="schema/deltaDdlGenProvider.exsd"/>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <category
            description="%sybase.drivers.category.description"
            id="org.eclipse.datatools.enablement.sybase"
            name="%sybase.drivers.category"
            parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"/>
   </extension>

      <extension
         point="org.eclipse.datatools.connectivity.sqm.core.logicalContainment">
      <containment
            class="AuthorizationIdentifier"
            package="http:///org/eclipse/datatools/modelbase/sql/accesscontrol.ecore"
            provider="org.eclipse.datatools.enablement.sybase.containment.AuthorizationIdContainmentProvider"/>
      <containment
            class="User"
            package="http:///org/eclipse/datatools/modelbase/sql/accesscontrol.ecore"
            provider="org.eclipse.datatools.enablement.sybase.containment.AuthorizationIdContainmentProvider"/>
      <containment
            class="Group"
            package="http:///org/eclipse/datatools/modelbase/sql/accesscontrol.ecore"
            provider="org.eclipse.datatools.enablement.sybase.containment.AuthorizationIdContainmentProvider"/>
      <containment
            class="SybasePrivilege"
            package="http:///org/eclipse/datatools/enablement/sybase/sybasesqlmodel.ecore"
            provider="org.eclipse.datatools.enablement.sybase.containment.PrivilegeContainmentProvider"/>
   </extension>
      
 </plugin>
