<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            product="DB2 UDB"
            version="V8.1"
            description="%V81Description"
            productDisplayString="%V81ProductString"
            versionDisplayString="%V81VersionString"
            file="runtime/vendors/DB2 UDB_8.1/DB2 UDB_8.1.xmi">
      </definition>
      <definition
            product="DB2 UDB"
            version="V8.2"
            description="%V82Description"
            productDisplayString="%V82ProductString"
            versionDisplayString="%V82VersionString"
            file="runtime/vendors/DB2 UDB_8.2/DB2 UDB_8.2.xmi">
      </definition>
      <definition
            product="DB2 UDB"
            version="V9.1"
            description="%V91Description"
            productDisplayString="%V91ProductString"
            versionDisplayString="%V91VersionString"
            file="runtime/vendors/DB2 UDB_9.1/DB2 UDB_9.1.xmi">
      </definition>
      <definition
            product="DB2 UDB"
            productDisplayString="%V95ProductString"
            description="%V95Description"
            versionDisplayString="%V95VersionString"
            version="V9.5"
            file="runtime/vendors/DB2 UDB_9.5/DB2 UDB_9.5.xmi">
      </definition>
      <definition
            description="%V97Description"
            file="runtime/vendors/DB2 UDB_9.7/DB2 UDB_9.7.xmi"
            product="DB2 UDB"
            productDisplayString="%V97ProductString"
            version="V9.7"
            versionDisplayString="%V97VersionString">
      </definition>
      <definition
            description="%V98Description"
            file="runtime/vendors/DB2 UDB_9.8/DB2 UDB_9.8.xmi"
            product="DB2 UDB"
            productDisplayString="%V98ProductString"
            version="V9.8"
            versionDisplayString="%V98VersionString">
      </definition>
      <definition
            description="%V101Description"
            file="runtime/vendors/DB2 UDB_10.1/DB2 UDB_10.1.xmi"
            product="DB2 UDB"
            productDisplayString="%V101ProductString"
            version="V10.1"
            versionDisplayString="%V101VersionString">
      </definition>
      <definition
            description="%V105Description"
            file="runtime/vendors/DB2 UDB_10.5/DB2 UDB_10.5.xmi"
            product="DB2 UDB"
            productDisplayString="%V105ProductString"
            version="V10.5"
            versionDisplayString="%V105VersionString">
      </definition>
   </extension>
   
</plugin>
