<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

      <extension
        point="org.eclipse.datatools.connectivity.sqm.core.catalog">
        <catalog
            version="4.0"
            product="MySql"
            provider="org.eclipse.datatools.enablement.mysql.catalog.MySqlCatalogProvider">
        </catalog>
    </extension>
    <extension
        point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
        <generator
            version="4.0"
            product="MySql"
            class="org.eclipse.datatools.enablement.mysql.ddl.MySqlDdlGenerator">
        </generator>
    </extension>
    
   <extension
        point="org.eclipse.datatools.connectivity.sqm.core.catalog">
        <catalog
            version="4.1"
            product="MySql"
            provider="org.eclipse.datatools.enablement.mysql.catalog.MySqlCatalogProvider">
        </catalog>
    </extension>
    <extension
        point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
        <generator
            version="4.1"
            product="MySql"
            class="org.eclipse.datatools.enablement.mysql.ddl.MySqlDdlGenerator">
        </generator>
    </extension>
	
	 <extension
        point="org.eclipse.datatools.connectivity.sqm.core.catalog">
        <catalog
            version="5.0"
            product="MySql"
            provider="org.eclipse.datatools.enablement.mysql.catalog.MySqlCatalogProvider">
        </catalog>
    </extension>
    <extension
        point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
        <generator
            version="5.0"
            product="MySql"
            class="org.eclipse.datatools.enablement.mysql.ddl.MySqlDdlGenerator">
        </generator>
    </extension>
	
	 <extension
        point="org.eclipse.datatools.connectivity.sqm.core.catalog">
        <catalog
            version="5.1"
            product="MySql"
            provider="org.eclipse.datatools.enablement.mysql.catalog.MySqlCatalogProvider">
        </catalog>
    </extension>
    <extension
        point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
        <generator
            version="5.1"
            product="MySql"
            class="org.eclipse.datatools.enablement.mysql.ddl.MySqlDdlGenerator">
        </generator>
    </extension>
       
	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            icon="icons/jdbc_16.gif"
            id="org.eclipse.datatools.enablement.mysql.connectionProfile"
            name="%profile.mysql.title"
            pingFactory="org.eclipse.datatools.enablement.internal.mysql.connection.JDBCMySQLConnectionFactory"
            propertiesPersistenceHook="org.eclipse.datatools.enablement.internal.mysql.connection.MySQLPasswordPropertiesPersistenceHook"/>
      <connectionFactory
            class="org.eclipse.datatools.enablement.internal.mysql.connection.JDBCMySQLConnectionFactory"
            id="java.sql.Connection"
            name="%jdbc.connection.name"
            profile="org.eclipse.datatools.enablement.mysql.connectionProfile"/>
    </extension>
   
    <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
         <category
      		parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
            id="org.eclipse.datatools.enablement.mysql.driverCategory"
            name="%MYSQL_CATEGORY_NAME"/>
         <category
      		parentCategory="org.eclipse.datatools.enablement.mysql.driverCategory"
            id="org.eclipse.datatools.enablement.mysql.4_0.driverCategory"
            name="%4_0_VERSION_CATEGORY_NAME"/>
		 <category
      		parentCategory="org.eclipse.datatools.enablement.mysql.driverCategory"
            id="org.eclipse.datatools.enablement.mysql.4_1.driverCategory"
            name="%4_1_VERSION_CATEGORY_NAME"/>
         <category
      		parentCategory="org.eclipse.datatools.enablement.mysql.driverCategory"
            id="org.eclipse.datatools.enablement.mysql.5_0.driverCategory"
            name="%5_0_VERSION_CATEGORY_NAME"/>
		<category
      		parentCategory="org.eclipse.datatools.enablement.mysql.driverCategory"
            id="org.eclipse.datatools.enablement.mysql.5_1.driverCategory"
            name="%5_1_VERSION_CATEGORY_NAME"/>
            
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.mysql.4_0.driverTemplate"
            jarList="mysql-connector-java-4.0.0-bin.jar"
            name="%org.eclipse.datatools.enablement.mysql.4_0.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.mysql.4_0.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.mysql.jdbc.Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="MySql"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="4.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:mysql://localhost:3306/database"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value="root"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.connectionProperties"
                  name="%driverCP"
                  value="zeroDateTimeBehavior=convertToNull"
                  required="false"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
		
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.mysql.4_1.driverTemplate"
            jarList="mysql-connector-java-4.1.0-bin.jar"
            name="%org.eclipse.datatools.enablement.mysql.4_1.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.mysql.4_1.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.mysql.jdbc.Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="MySql"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="4.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:mysql://localhost:3306/database"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value="root"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
		
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.mysql.5_0.driverTemplate"
            jarList="mysql-connector-java-5.0.0-bin.jar"
            name="%org.eclipse.datatools.enablement.mysql.5_0.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.mysql.5_0.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.mysql.jdbc.Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="MySql"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="5.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:mysql://localhost:3306/database"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value="root"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>

	 <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.mysql.5_1.driverTemplate"
            jarList="mysql-connector-java-5.1.0-bin.jar"
            name="%org.eclipse.datatools.enablement.mysql.5_1.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.mysql.5_1.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.mysql.jdbc.Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="MySql"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="5.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:mysql://localhost:3306/database"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value="root"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>		
   </extension>
    <extension
          point="org.eclipse.datatools.connectivity.sqm.core.catalog">
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.TableConstraint"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableConstraintLoader"
             version="5.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableLoader"
             version="5.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Column"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableColumnLoader"
             version="5.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableIndexLoader"
             version="5.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlRoutineLoader"
             version="5.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.accesscontrol.AuthorizationIdentifier"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlAuthorizationIdentifierLoader"
             version="5.1">
       </overrideLoader>
    </extension>
    <extension
          point="org.eclipse.datatools.connectivity.sqm.core.catalog">
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.TableConstraint"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableConstraintLoader"
             version="5.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableLoader"
             version="5.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Column"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableColumnLoader"
             version="5.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableIndexLoader"
             version="5.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlRoutineLoader"
             version="5.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.accesscontrol.AuthorizationIdentifier"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlAuthorizationIdentifierLoader"
             version="5.0">
       </overrideLoader>
    </extension>
    <extension
          point="org.eclipse.datatools.connectivity.sqm.core.catalog">
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.TableConstraint"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableConstraintLoader"
             version="4.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableLoader"
             version="4.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Column"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableColumnLoader"
             version="4.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableIndexLoader"
             version="4.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlRoutineLoader"
             version="4.1">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.accesscontrol.AuthorizationIdentifier"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlAuthorizationIdentifierLoader"
             version="4.1">
       </overrideLoader>
    </extension>
    <extension
          point="org.eclipse.datatools.connectivity.sqm.core.catalog">
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.TableConstraint"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableConstraintLoader"
             version="4.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableLoader"
             version="4.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.tables.Column"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableColumnLoader"
             version="4.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlTableIndexLoader"
             version="4.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlRoutineLoader"
             version="4.0">
       </overrideLoader>
       <overrideLoader
             eclass="org.eclipse.datatools.modelbase.sql.accesscontrol.AuthorizationIdentifier"
             product="MySql"
             provider="org.eclipse.datatools.enablement.mysql.catalog.loaders.MySqlAuthorizationIdentifierLoader"
             version="4.0">
       </overrideLoader>
    </extension>
    <extension
          point="org.eclipse.datatools.connectivity.sqm.core.mappings">
       <providerIDtoDriverCategoryID
             driverCategoryID="org.eclipse.datatools.enablement.mysql.driverCategory"
             providerID="org.eclipse.datatools.enablement.mysql.connectionProfile">
       </providerIDtoDriverCategoryID>
    </extension>
</plugin>
