<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="documentprovider" name="SQL Routine Editor document provider" schema="schema/documentprovider.exsd"/>
   <extension-point id="launchConfigurationTypes" name="SQL Launch Configuration Types" schema="schema/launchConfigurationTypes.exsd"/>

     <!-- launch configuration type.-->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%routine.launch.type"
            delegate="org.eclipse.datatools.sqltools.routineeditor.launching.SPLaunchConfigurationDelegate"
            modes="run,debug"
            id="org.eclipse.datatools.sqltools.routineeditor.launching.launchConfigurationType">
      </launchConfigurationType>
   </extension>
   
   <!-- launch configuration tab group -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.datatools.sqltools.routineeditor.launching.launchConfigurationType"
            class="org.eclipse.datatools.sqltools.routineeditor.ui.launching.RoutineExecuteTabGroup"
            id="org.eclipse.datatools.sqltools.routineeditor.launching.launchConfigurationTabGroup">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.datatools.sqltools.debugger.perspectives.DebuggerPerspective">
            </launchMode>
            <launchMode
                  mode="run">
            </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   
   <!-- launch shortcut -->
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.datatools.sqltools.routineeditor.ui.launching.SPLaunchShortcut"
            icon="icons/debug_exc.gif"
            id="org.eclipse.datatools.sqltools.routineeditor.SPshortcut"
            label="SQL Routine"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel
                  label="SQL Routine"
                  mode="run"/>
            <contextLabel
                  label="SQL Routine"
                  mode="debug"/>
            <enablement>
               <with variable="selection">
                  <iterate>
                     <or>
                        <instanceof value="org.eclipse.datatools.sqltools.routineeditor.ProcEditorInput"/>
                        <instanceof value="org.eclipse.datatools.sqltools.core.ProcIdentifier"/>
                        <instanceof value="org.eclipse.datatools.modelbase.sql.routines.Routine"/>
                        <instanceof value="org.eclipse.datatools.modelbase.sql.tables.Trigger"/>
                     </or>
                  </iterate>
                  <count value="1"/>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
  
   <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
     	id="org.eclipse.datatools.sqltools.routineeditor.launching.LaunchConfigurationTypeImage"
	    configTypeID="org.eclipse.datatools.sqltools.routineeditor.launching.launchConfigurationType"
    	icon="icons/launch_configuration.gif">
	 </launchConfigurationTypeImage>
          
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution 
             id="org.eclipse.datatools.sqltools.routineeditor.objectContribution1"
            objectClass="org.eclipse.datatools.modelbase.sql.tables.Trigger">
	         <action
	               label="%Routineeditor.edit"
	               class="org.eclipse.datatools.sqltools.routineeditor.ui.actions.EditRoutineAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.sqltools.routineeditor.ui.actions.EditRoutineAction">
	               <enablement>
	               <or>
				      	<objectClass name = "org.eclipse.datatools.modelbase.sql.tables.Trigger"/>
			       </or>
	            </enablement>
	         </action>
	         <action
	               label="%Routineeditor.run"
	               class="org.eclipse.datatools.sqltools.routineeditor.ui.actions.RunAction"
	               menubarPath="slot2"
	               enablesFor="1"
	               id="org.eclipse.datatools.sqltools.sqleditor.runAction">
	               <enablement>
	               <or>
				      	<objectClass name = "org.eclipse.datatools.modelbase.sql.tables.Trigger"/>
			       </or>
	            </enablement>
	         </action>
	         <visibility>
			    	<or>
				      	<objectClass name = "org.eclipse.datatools.modelbase.sql.tables.Trigger"/>
			      	</or>
	         </visibility>
		 </objectContribution>
         <objectContribution 
             id="org.eclipse.datatools.sqltools.routineeditor.objectContribution2"
            objectClass="org.eclipse.datatools.modelbase.sql.routines.Routine">
	         <action
	               label="%Routineeditor.edit"
	               class="org.eclipse.datatools.sqltools.routineeditor.ui.actions.EditRoutineAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.sqltools.routineeditor.ui.actions.EditRoutineAction">
	               <enablement>
	               <or>
				      	<objectClass name = "org.eclipse.datatools.modelbase.sql.routines.Routine"/>
			       </or>
	            </enablement>
	         </action>
	         <action
	               label="%Routineeditor.run"
	               class="org.eclipse.datatools.sqltools.routineeditor.ui.actions.RunAction"
	               menubarPath="slot2"
	               enablesFor="1"
	               id="org.eclipse.datatools.sqltools.sqleditor.runAction">
	               <enablement>
	               <or>
				      	<objectClass name = "org.eclipse.datatools.modelbase.sql.routines.Routine"/>
			       </or>
	            </enablement>
	         </action>
	         <visibility>
			    	<or>
				      	<objectClass name = "org.eclipse.datatools.modelbase.sql.routines.Routine"/>
			      	</or>
	         </visibility>
		 </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.datatools.sqltools.routineeditor.internal.RoutineEditor"
            contributorClass="org.eclipse.datatools.sqltools.sqleditor.internal.SQLEditorActionContributor"
            default="true"
            icon="icons/routine_editor.gif"
            id="org.eclipse.datatools.sqltools.routineeditor.internal.RoutineEditor"
            name="%Routineeditor.name"/>
    </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.datatools.sqltools.sqleditor.category"
            name="%Routineeditor.run"
            id="org.eclipse.datatools.sqltools.sqleditor.runAction"/>
    </extension>
    
    <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            commandId="org.eclipse.datatools.sqltools.sqleditor.runAction"
            sequence="M1+M3+R"
            contextId="org.eclipse.datatools.sqltools.SQLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>
   
</plugin>
