<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.datatools.connectivity"
            class="org.eclipse.datatools.connectivity.ui.dse.views.DataSourceExplorerView"
            icon="icons/full/cview16/enterprise_explorer.gif"
            id="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
            name="%DSE.Name">
      </view>
      <category
            id="org.eclipse.datatools"
            name="%category.name.dataTools"/>
      <category
      		id="org.eclipse.datatools.connectivity"
      		name="%category.name.connectivity"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
            id="org.eclipse.datatools.connectivity.internal.ui.viewActions2">
         <action
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.expandall"
               toolbarPath="slot2"
               hoverIcon="icons/full/clcl16/expandall.gif"
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ExpandAllActionDelegate"
               disabledIcon="icons/full/dlcl16/expandall.gif"
               icon="icons/full/elcl16/expandall.gif"
               label="%DSE.ExpandAll.label"
               menubarPath="slot2"
               tooltip="%DSE.ExpandAll.tooltip">
         </action>
         <action
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ShowCategoryAction"
               hoverIcon="icons/full/clcl16/extensions.gif"
               icon="icons/full/elcl16/extensions.gif"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.showcategory"
               label="%DSE.ShowCategory.label"
               menubarPath="slot3"
               state="true"
               style="toggle"
               toolbarPath="slot3"
               tooltip="%DSE.ShowCategory.tooltip">
         </action>
         <action
               state="false"
               style="push"
               toolbarPath="slotn"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.addserver"
               hoverIcon="icons/connection1_newwiz.gif"
               class="org.eclipse.datatools.connectivity.ui.actions.AddProfileViewAction"
               icon="icons/full/clcl16/add_server.gif"
               label="%DSE.AddCP.label"
               menubarPath="slotn"
               tooltip="%DSE.AddCP.tooltip">
         </action>
         <action
               class="org.eclipse.datatools.connectivity.ui.actions.AddRepositoryViewAction"
               icon="icons/full/clcl16/add_server.gif"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.addrepository"
               label="%DSE.AddRepo.label"
               style="push"
               toolbarPath="slotn"
               tooltip="%DSE.AddRepo.tooltip">
              <visibility>
                 <systemProperty
                       name="org.eclipse.datatools.connectivity.repositoriesEnabled"
                       value="true"/>
              </visibility>
         </action>
         <action
               state="false"
               style="push"
               toolbarPath="slot1"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.export"
               hoverIcon="icons/full/clcl16/export.gif"
               class="org.eclipse.datatools.connectivity.ui.actions.ExportProfileViewAction"
               icon="icons/full/clcl16/export.gif"
               label="%DSE.Export.label"
               menubarPath="slot1"
               tooltip="%DSE.Export.tooltip">
         </action>
         <action
               state="false"
               style="push"
               toolbarPath="slot1"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.import"
               hoverIcon="icons/full/clcl16/import.gif"
               class="org.eclipse.datatools.connectivity.ui.actions.ImportProfileViewAction"
               icon="icons/full/clcl16/import.gif"
               label="%DSE.Import.label"
               menubarPath="slot1"
               tooltip="%DSE.Import.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            location="TOP_LEFT"
            label="%DSE.ContentExtension.Decorator"
            icon="icons/full/ovr16/obj_ovr_error.gif"
            id="org.eclipse.datatools.connectivity.ui.decorator.contentextension">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.datatools.connectivity.ui.IContentExtension">
               </objectClass>
               <objectState
                     name="org.eclipse.datatools.connectivity.contentextension.state"
                     value="true">
               </objectState>
            </and>
         </enablement>
         <description>
            %DSE.ContentExtension.Decorator.Description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution 
             id="org.eclipse.datatools.connectivity.ui.dse.objectContribution2"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
	         <action
	               label="%DSE.Ping.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.PingAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.pingaction">
	            <enablement>
	               <objectState
	                     name="org.eclipse.datatools.connectivity.profile.property.supportsPing"
	                     value="true">
	               </objectState>
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Disconnect.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.DisconnectAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.disconnectaction">
	            <enablement>
	               <and>
	                  <objectState
	                        value="true"
	                        name="org.eclipse.datatools.connectivity.profile.property.maintainConnection"/>
		               <objectState
		                     name="org.eclipse.datatools.connectivity.profile.property.isConnected"
		                     value="true">
		               </objectState>
	               </and>
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Connect.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.ConnectAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.connectaction">
	            <enablement>
<!--	               <and>
	                  <objectState
	                        value="true"
	                        name="org.eclipse.datatools.connectivity.profile.property.maintainConnection"/>
-->	                      
	                  <objectState
	                        name="org.eclipse.datatools.connectivity.profile.property.isConnected"
	                        value="false">
	                  </objectState>
<!--	               </and> -->
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Duplicate.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.DuplicateProfileAction"
	               menubarPath="slot2"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.duplicateaction">
	         </action>
	         <action
                class="org.eclipse.datatools.connectivity.ui.actions.DeleteAction"
                definitionId="org.eclipse.ui.edit.delete"
                enablesFor="*"
                id="org.eclipse.datatools.connectivity.internal.ui.actions.deleteaction"
                label="%DSE.Delete.label"
                menubarPath="slot2"
                overrideActionId="org.eclipse.ui.edit.delete">
	         </action>
	         <action
                class="org.eclipse.datatools.connectivity.ui.actions.RenameAction"
                definitionId="org.eclipse.ui.edit.rename"
                enablesFor="1"
                id="org.eclipse.datatools.connectivity.internal.ui.actions.renameaction"
                label="%DSE.Rename.label"
                menubarPath="slot2"
                overrideActionId="org.eclipse.ui.edit.rename">
	         </action>
	         <visibility>
			    	<or>
				      	<objectClass name = "org.eclipse.datatools.connectivity.IConnectionProfile"/>
			      	</or>
	         </visibility>
		 </objectContribution>
<!--         <objectContribution
               adaptable="false"
               id="org.eclipse.datatools.connectivity.ui.dse.refreshContribution"
               objectClass="java.lang.Object">
            <action
                  class="org.eclipse.datatools.connectivity.ui.actions.RefreshViewAction"
                  definitionId="org.eclipse.ui.file.refresh"
                  id="org.eclipse.datatools.connectivity.ui.dse.refresh"
                  label="Refresh2"
                  menubarPath="slot3">
               <enablement>
                  <or>
                     <objectClass name="org.eclipse.datatools.connectivity.ICategory"/>
                     <objectClass name="org.eclipse.datatools.connectivity.IConnectionProfile"/>
                  </or>
               </enablement>
            </action>
         </objectContribution> -->
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileContentProvider"
            icon="icons/full/cview16/enterprise_explorer.gif"
            id="org.eclipse.datatools.connectivity.dsexplorer.content"
            labelProvider="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileLabelProvider"
            name="%DSE.content"
            priority="normal">
         <actionProvider
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider"
               id="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider">
            <enablement>
               <or>
                  <instanceof value="org.eclipse.datatools.connectivity.ICategory"/>
                  <instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
               </or>
            </enablement>
         </actionProvider>
         <dropAssistant
               class="org.eclipse.datatools.connectivity.ui.dse.dnd.ConnectionProfileDropAssistant"
               id="org.eclipse.datatools.connectivity.ui.dse.dnd.connectionProfileDropAssistant">
            <possibleDropTargets>
            	<or>
            		<adapt type="org.eclipse.datatools.connectivity.ICategory"/>
            		<instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
            		<instanceof value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode" />
            	</or>
            </possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileSorter"
               id="org.eclipse.datatools.connectivity.ui.dse.commonSorter"/>
         <enablement>
            <or>
               <adapt type="org.eclipse.datatools.connectivity.ICategory"/>
               <adapt type="org.eclipse.datatools.connectivity.IConnectionProfile"/>
               <adapt type="org.eclipse.datatools.connectivity.ProfileManager"/>
               <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <options>
            <property
                  name="org.eclipse.ui.navigator.enforceHasChildren"
                  value="true"/> 
         </options>
         <popupMenu
               allowsPlatformContributions="true"
               id="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator.menu">
            <insertionPoint
                  name="slot1"
                  separator="true"/>
            <insertionPoint
                  name="slotOffline"
                  separator="true"/>
            <insertionPoint
                  name="slot2"
                  separator="true"/>
            <insertionPoint
                  name="slot3"
                  separator="true"/>
            <insertionPoint
                  name="additions"
                  separator="true"/>
         </popupMenu>
      </viewer>
      <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.datatools.connectivity.dsexplorer.content"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <actionExtension pattern="org.eclipse.datatools.connectivity.ui.dse.actions.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.datatools.connectivity.ui.dse.actions.RefreshActionProvider"
            id="org.eclipse.datatools.connectivity.ui.dse.actions.RefreshActionProvider">
         <enablement>
            <instanceof value="java.lang.Object"/>
         </enablement>
      </actionProvider>
   </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
             labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.TabbedPropertySheetTitleProvider">
          <propertyCategory category="general"/>
          <propertyCategory category="core"/>
          <propertyCategory category="appearance"/>
          <propertyCategory category="advanced"/>
       </propertyContributor>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs contributorId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
          <propertyTab
                label="%General"
                category="general"
                id="CommonNavigator.tab.General"/>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections contributorId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
          <propertySection
                class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
                id="CommonNavigator.section.General"
                tab="CommonNavigator.tab.General">
             <input type="java.lang.Object"/>
          </propertySection>
       </propertySections>
    </extension>
</plugin>
