<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.datatools"
            class="org.eclipse.datatools.connectivity.ui.dse.views.DataSourceExplorerView"
            icon="icons/full/cview16/enterprise_explorer.gif"
            id="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
            name="%DSE.Name">
      </view>
      <category
            id="org.eclipse.datatools"
            name="%category.name.dataTools"/>
      <category
      		id="org.eclipse.datatools.connectivity"
      		name="%category.name.connectivity"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            location="TOP_LEFT"
            label="%DSE.ContentExtension.Decorator"
            icon="icons/full/ovr16/obj_ovr_error.gif"
            id="org.eclipse.datatools.connectivity.ui.decorator.contentextension">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.datatools.connectivity.ui.IContentExtension">
               </objectClass>
               <objectState
                     name="org.eclipse.datatools.connectivity.contentextension.state"
                     value="true">
               </objectState>
            </and>
         </enablement>
         <description>
            %DSE.ContentExtension.Decorator.Description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution 
             id="org.eclipse.datatools.connectivity.ui.dse.objectContribution2"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
	         <action
	               label="%DSE.Ping.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.PingAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.pingaction">
	            <enablement>
	               <objectState
	                     name="org.eclipse.datatools.connectivity.profile.property.supportsPing"
	                     value="true">
	               </objectState>
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Disconnect.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.DisconnectAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.disconnectaction">
	            <enablement>
	               <and>
	                  <objectState
	                        value="true"
	                        name="org.eclipse.datatools.connectivity.profile.property.maintainConnection"/>
		               <objectState
		                     name="org.eclipse.datatools.connectivity.profile.property.isConnected"
		                     value="true">
		               </objectState>
	               </and>
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Connect.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.ConnectAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.connectaction">
	            <enablement>
<!--	               <and>
	                  <objectState
	                        value="true"
	                        name="org.eclipse.datatools.connectivity.profile.property.maintainConnection"/>
-->	                      
	                  <objectState
	                        name="org.eclipse.datatools.connectivity.profile.property.isConnected"
	                        value="false">
	                  </objectState>
<!--	               </and> -->
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Duplicate.label"
	               class="org.eclipse.datatools.connectivity.ui.actions.DuplicateProfileAction"
	               menubarPath="slot2"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.duplicateaction">
	         </action>
	         <action
                class="org.eclipse.datatools.connectivity.ui.actions.DeleteAction"
                definitionId="org.eclipse.ui.edit.delete"
                enablesFor="*"
                id="org.eclipse.datatools.connectivity.internal.ui.actions.deleteaction"
                label="%DSE.Delete.label"
                menubarPath="slot2"
                overrideActionId="org.eclipse.ui.edit.delete">
	         </action>
	         <action
                class="org.eclipse.datatools.connectivity.ui.actions.RenameAction"
                definitionId="org.eclipse.ui.edit.rename"
                enablesFor="1"
                id="org.eclipse.datatools.connectivity.internal.ui.actions.renameaction"
                label="%DSE.Rename.label"
                menubarPath="slot2"
                overrideActionId="org.eclipse.ui.edit.rename">
	         </action>
	         <visibility>
		      	<objectClass name = "org.eclipse.datatools.connectivity.IConnectionProfile"/>
	         </visibility>
		 </objectContribution>
<!--         <objectContribution
               adaptable="false"
               id="org.eclipse.datatools.connectivity.ui.dse.refreshContribution"
               objectClass="java.lang.Object">
            <action
                  class="org.eclipse.datatools.connectivity.ui.actions.RefreshViewAction"
                  definitionId="org.eclipse.ui.file.refresh"
                  id="org.eclipse.datatools.connectivity.ui.dse.refresh"
                  label="Refresh2"
                  menubarPath="slot3">
               <enablement>
                  <or>
                     <objectClass name="org.eclipse.datatools.connectivity.ICategory"/>
                     <objectClass name="org.eclipse.datatools.connectivity.IConnectionProfile"/>
                  </or>
               </enablement>
            </action>
         </objectContribution> -->
   </extension>
<!--   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileContentProvider"
            icon="icons/full/cview16/enterprise_explorer.gif"
            id="org.eclipse.datatools.connectivity.dsexplorer.content"
            labelProvider="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileLabelProvider"
            name="%DSE.content"
            priority="higher">
         <actionProvider
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider"
               id="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider">
            <enablement>
               <or>
                  <instanceof value="org.eclipse.datatools.connectivity.ICategory"/>
                  <instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
           		  <instanceof value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode" />
               </or>
            </enablement>
         </actionProvider>
         <dropAssistant
               class="org.eclipse.datatools.connectivity.ui.dse.dnd.ConnectionProfileDropAssistant"
               id="org.eclipse.datatools.connectivity.ui.dse.dnd.connectionProfileDropAssistant">
            <possibleDropTargets>
            	<or>
            		<adapt type="org.eclipse.datatools.connectivity.ICategory"/>
            		<instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
            		<instanceof value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode" />
            	</or>
            </possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileSorter"
               id="org.eclipse.datatools.connectivity.ui.dse.commonSorter"/>
         <enablement>
            <or>
               <adapt type="org.eclipse.datatools.connectivity.ICategory"/>
               <adapt type="org.eclipse.datatools.connectivity.IConnectionProfile"/>
               <adapt type="org.eclipse.datatools.connectivity.ProfileManager"/>
               <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
            </or>
         </enablement>
      </navigatorContent>
   </extension> -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <options>
            <property
                  name="org.eclipse.ui.navigator.enforceHasChildren"
                  value="true"/> 
         </options>
         <popupMenu
         	allowsPlatformContributions="true"
          	id="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator.menu">
        	<insertionPoint
           		name="slot.Open"
                separator="true"/>
            <insertionPoint
           		name="slot.Create"
                separator="true"/>
        	<insertionPoint
           		name="slot.Data"
                separator="true"/>
        	<insertionPoint
           		name="slot.Control"
                separator="true"/>
            <insertionPoint
           		name="slot.Maintain"
                separator="true"/>
            <insertionPoint
           		name="slot.Share"
                separator="true"/>
            <insertionPoint
           		name="slot.Change"
                separator="true"/>
            <insertionPoint
           		name="slot.Additions"
                separator="true"/>
            <insertionPoint
           		name="slot.Properties"
                separator="true"/>                    
        	<insertionPoint
           		name="group.new"
                separator="true"/>
          	<insertionPoint
               	name="group.goto"
               	separator="false"/>
            <insertionPoint
               	name="group.open"
               	separator="true"/>
            <insertionPoint
               	name="group.openWith"
               	separator="false"/>
            <insertionPoint
               	name="group.edit"
               	separator="true"/>
            <insertionPoint
               	name="group.show"
               	separator="false"/>
            <insertionPoint
               	name="group.reorganize"
               	separator="true"/>
            <insertionPoint
               	name="group.port"
               	separator="false"/>
            <insertionPoint
               	name="group.diagram"
               	separator="true"/>
            <insertionPoint
               	name="group.generate"
               	separator="true"/>
            <insertionPoint
               	name="group.search"
               	separator="true"/>
            <insertionPoint
            	name="group.build"
                separator="true"/>            
            <insertionPoint
               	name="slot1"
                 separator="true"/>
            <insertionPoint
                 name="slotOffline"
                 separator="true"/>
            <insertionPoint
                 name="slot2"
                 separator="true"/>
            <insertionPoint
                 name="slot3"
                 separator="true"/>
            <insertionPoint
                 name="slot4"
                 separator="true"/>
            <insertionPoint
                 name="additions"
                 separator="true"/>
            <insertionPoint
                 name="group.properties"
                 separator="true"/>
     	</popupMenu>
      </viewer>
      <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.datatools.connectivity.dsexplorer.content.extended"/>
            <contentExtension
                  pattern="org.eclipse.datatools.connectivity.repositoryContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <actionExtension pattern="org.eclipse.datatools.connectivity.ui.dse.actions.*"/>
            <actionExtension
                  pattern="org.eclipse.datatools.connectivity.internal.ui.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
<!--   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.datatools.connectivity.ui.dse.actions.RefreshActionProvider"
            id="org.eclipse.datatools.connectivity.ui.dse.actions.RefreshActionProvider">
         <enablement>
            <instanceof value="java.lang.Object"/>
         </enablement>
      </actionProvider>
   </extension>-->
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
             labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.TabbedPropertySheetTitleProvider">
          <propertyCategory category="general"/>
          <propertyCategory category="core"/>
          <propertyCategory category="appearance"/>
          <propertyCategory category="advanced"/>
       </propertyContributor>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs contributorId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
          <propertyTab
                label="%General"
                category="general"
                id="CommonNavigator.tab.General"/>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections contributorId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
          <propertySection
                class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
                id="CommonNavigator.section.General"
                tab="CommonNavigator.tab.General">
             <input type="java.lang.Object"/>
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="org.eclipse.datatools.connectivity.ui.navigator.ConnectionProfileContentProvider"
             icon="icons/full/cview16/enterprise_explorer.gif"
             id="org.eclipse.datatools.connectivity.dsexplorer.content.extended"
             labelProvider="org.eclipse.datatools.connectivity.ui.navigator.ConnectionProfileLabelProvider"
             name="%DSE.content.extended"
             priority="higher">
          <actionProvider
                class="org.eclipse.datatools.connectivity.ui.navigator.actions.ProfileActionsActionProvider"
                id="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider">
             <enablement>
                <or>
                   <instanceof
                         value="org.eclipse.datatools.connectivity.ICategory">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.datatools.connectivity.IConnectionProfile">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode">
                   </instanceof>
                </or>
             </enablement>
          </actionProvider>
          <dropAssistant
                class="org.eclipse.datatools.connectivity.ui.dse.dnd.ConnectionProfileDropAssistant"
                id="org.eclipse.datatools.connectivity.ui.dse.dnd.connectionProfileDropAssistant">
             <possibleDropTargets>
                <or>
                   <adapt
                         type="org.eclipse.datatools.connectivity.ICategory">
                   </adapt>
                   <instanceof
                         value="org.eclipse.datatools.connectivity.IConnectionProfile">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode">
                   </instanceof>
                </or>
             </possibleDropTargets>
          </dropAssistant>
          <commonSorter
                class="org.eclipse.datatools.connectivity.ui.navigator.ConnectionProfileSorter"
                id="org.eclipse.datatools.connectivity.ui.dse.commonSorter">
          </commonSorter>
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.datatools.connectivity.ICategory">
                </adapt>
                <adapt
                      type="org.eclipse.datatools.connectivity.IConnectionProfile">
                </adapt>
                <adapt
                      type="org.eclipse.datatools.connectivity.ProfileManager">
                </adapt>
                <instanceof
                      value="org.eclipse.core.resources.IWorkspaceRoot">
                </instanceof>
             </or>
          </enablement>
          <override
                policy="InvokeAlwaysRegardlessOfSuppressedExt"
                suppressedExtensionId="org.eclipse.datatools.connectivity.dsexplorer.content">
          </override>
       </navigatorContent>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:org.eclipse.datatools.connectivity.DataSourceExplorerNavigator?before=additions">
          <separator
                name="slot1"
                visible="true">
          </separator>
          <separator
                name="slotOffline"
                visible="true">
          </separator>
          <separator
                name="slot2"
                visible="true">
          </separator>
          <separator
                name="slot3"
                visible="true">
          </separator>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
          <separator
                name="separator1"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.datatools.connectivity.commands.showcategory"
                hoverIcon="icons/full/clcl16/extensions.gif"
                icon="icons/full/elcl16/extensions.gif"
                id="org.eclipse.datatools.connectivity.toolbar.showcategory"
                style="toggle"
                tooltip="%DSE.ShowCategory.tooltip">
          </command>
          <separator
                name="separator2"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.datatools.connectivity.commands.addrepository"
                hoverIcon="icons/new_repository_action.gif"
                icon="icons/new_repository_action.gif"
                id="org.eclipse.datatools.connectivity.toolbar.addrepository"
                style="push"
                tooltip="%DSE.AddRepo.tooltip">
             <visibleWhen>
                <systemTest
                      property="org.eclipse.datatools.connectivity.repositoriesEnabled"
                      value="true">
                </systemTest>
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.datatools.connectivity.commands.addprofile"
                hoverIcon="icons/connection1_newwiz.gif"
                icon="icons/connection1_newwiz.gif"
                id="org.eclipse.datatools.connectivity.toolbar.addprofile"
                style="push"
                tooltip="%DSE.AddCP.tooltip">
             <parameter
                   name="org.eclipse.datatools.connectivity.ui.ignoreCategory"
                   value="true">
             </parameter>
             <parameter
                   name="org.eclipse.datatools.connectivity.ui.useSelection"
                   value="false">
             </parameter>
          </command>
          <separator
                name="separator3"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.datatools.connectivity.commands.import"
                hoverIcon="icons/full/clcl16/import.gif"
                icon="icons/full/clcl16/import.gif"
                id="org.eclipse.datatools.connectivity.toolbar.import"
                style="push"
                tooltip="%DSE.Import.tooltip">
          </command>
          <command
                commandId="org.eclipse.datatools.connectivity.commands.export"
                hoverIcon="icons/full/clcl16/export.gif"
                icon="icons/full/clcl16/export.gif"
                id="org.eclipse.datatools.connectivity.toolbar.export"
                style="push"
                tooltip="%DSE.Export.tooltip">
          </command>
       </menuContribution>
       <menuContribution
             locationURI="menu:org.eclipse.datatools.connectivity.DataSourceExplorerNavigator?before=slot1">
          <command
                commandId="org.eclipse.datatools.connectivity.commands.addprofile"
                hoverIcon="icons/connection1_newwiz.gif"
                icon="icons/connection1_newwiz.gif"
                id="org.eclipse.datatools.connectivity.view.menu.addprofile"
                label="%DSE.AddCP_nm.label"
                mnemonic="%DSE.ADDCP_m.label"
                tooltip="%DSE.AddCP.tooltip">
             <parameter
                   name="org.eclipse.datatools.connectivity.ui.useSelection"
                   value="true">
             </parameter>
             <parameter
                   name="org.eclipse.datatools.connectivity.ui.ignoreCategory"
                   value="false">
             </parameter>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="menu:org.eclipse.datatools.connectivity.DataSourceExplorerNavigator?before=slot2">
          <command
                commandId="org.eclipse.datatools.connectivity.commands.import"
                hoverIcon="icons/full/clcl16/import.gif"
                icon="icons/full/clcl16/import.gif"
                id="org.eclipse.datatools.connectivity.view.menu.import"
                label="%DSE.Import_nm.label"
                mnemonic="%DSE.Import_m.label"
                tooltip="%DSE.Import.tooltip">
          </command>
          <command
                commandId="org.eclipse.datatools.connectivity.commands.export"
                hoverIcon="icons/full/clcl16/export.gif"
                icon="icons/full/clcl16/export.gif"
                id="org.eclipse.datatools.connectivity.view.menu.export"
                label="%DSE.Export_nm.label"
                mnemonic="%DSE.Export_m.label"
                tooltip="%DSE.Export.tooltip">
          </command>
       </menuContribution>
       <menuContribution
             locationURI="menu:org.eclipse.datatools.connectivity.DataSourceExplorerNavigator?before=slot3">
          <command
                commandId="org.eclipse.datatools.connectivity.commands.showcategory"
                hoverIcon="icons/full/clcl16/extensions.gif"
                icon="icons/full/elcl16/extensions.gif"
                id="org.eclipse.datatools.connectivity.view.menu.showcategory"
                label="%DSE.ShowCategory_nm.label"
                mnemonic="%DSE.ShowCategory_m.label"
                style="toggle"
                tooltip="%DSE.ShowCategory.tooltip">
          </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.eclipse.datatools.connectivity.ui.dse.actions.ShowCategoryAction"
             description="%DSE.ShowCategory.command.description"
             id="org.eclipse.datatools.connectivity.commands.showcategory"
             name="%DSE.ShowCategory.command.label">
       </command>
    </extension>
   
   <!-- Double-click to reconnect or expand/collapse IConnectionProfile -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.datatools.connectivity.ui.actions.ExpandProvider"
            id="org.eclipse.datatools.connectivity.ui.dse.expandAction">
	        <enablement>
                  <instanceof
                        value="org.eclipse.datatools.connectivity.IConnectionProfile">
                  </instanceof>
			</enablement>	
      </actionProvider>
   </extension>
   
   <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
          <includes>
             <actionExtension pattern="org.eclipse.datatools.connectivity.ui.dse.expandAction"/>
          </includes>
       </viewerActionBinding>
    </extension>
</plugin>
