<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.datatools"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/full/cview16/enterprise_explorer.gif"
            id="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
            name="%DSE.Name">
      </view>
      <category
            id="org.eclipse.datatools"
            name="Data Tools"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator"
            id="org.eclipse.datatools.connectivity.internal.ui.viewActions2">
         <action
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.expandall"
               toolbarPath="slot2"
               hoverIcon="icons/full/clcl16/expandall.gif"
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ExpandAllActionDelegate"
               disabledIcon="icons/full/dlcl16/expandall.gif"
               icon="icons/full/elcl16/expandall.gif"
               label="%DSE.ExpandAll.label"
               menubarPath="slot2"
               tooltip="%DSE.ExpandAll.label">
         </action>
         <action
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ShowCategoryAction"
               hoverIcon="icons/full/clcl16/extensions.gif"
               icon="icons/full/elcl16/extensions.gif"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.showcategory"
               label="%DSE.ShowCategory.label"
               menubarPath="slot3"
               state="true"
               style="toggle"
               toolbarPath="slot3"
               tooltip="%DSE.ShowCategory.label">
         </action>
         <action
               state="false"
               style="push"
               toolbarPath="slotn"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.addserver"
               hoverIcon="icons/connection1_newwiz.gif"
               class="org.eclipse.datatools.connectivity.ui.dse.actions.AddProfileViewAction"
               icon="icons/full/clcl16/add_server.gif"
               label="%DSE.AddCP.label"
               menubarPath="slotn"
               tooltip="%DSE.AddCP.label">
         </action>
         <action
               state="false"
               style="push"
               toolbarPath="slot1"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.export"
               hoverIcon="icons/full/clcl16/export.gif"
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ExportProfileViewAction"
               icon="icons/full/clcl16/export.gif"
               label="%DSE.Export.label"
               menubarPath="slot1"
               tooltip="%DSE.Export.label">
         </action>
         <action
               state="false"
               style="push"
               toolbarPath="slot1"
               id="org.eclipse.datatools.connectivity.internal.ui.viewactions.import"
               hoverIcon="icons/full/clcl16/import.gif"
               class="org.eclipse.datatools.connectivity.ui.dse.actions.ImportProfileViewAction"
               icon="icons/full/clcl16/import.gif"
               label="%DSE.Import.label"
               menubarPath="slot1"
               tooltip="%DSE.Import.label">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorViewer">
      <navigatorViewer
            popupMenuId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator.menu"
            rootContentExtensionId="org.eclipse.datatools.connectivity.dsexplorer.content"
            viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
      </navigatorViewer>
   </extension>
	<extension 
		point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
        contentProvider="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileContentProvider"
        enabledByDefault="true"
        icon="platform:/plugin/org.eclipse.datatools.connectivity.dsexplorer/icons/enterprise_explorer.gif"
        id="org.eclipse.datatools.connectivity.dsexplorer.content"
        labelProvider="org.eclipse.datatools.connectivity.ui.dse.views.ConnectionProfileLabelProvider"
        name="%DSE.content"
        priority="normal">
			<enablement>
				<or>
					<objectClass
           adaptable="true"
           name="org.eclipse.core.resources.IWorkspaceRoot"/> 
	               <objectClass
                      adaptable="true"
                      name="org.eclipse.datatools.connectivity.ICategory"/>
	               <objectClass
                      adaptable="true"
                      name="org.eclipse.datatools.connectivity.IConnectionProfile"/>
                <objectClass
                      adaptable="true"
                      name="org.eclipse.datatools.connectivity.ProfileManager"/>
				</or>
			</enablement>
		</navigatorContent>
	</extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            location="TOP_LEFT"
            label="%DSE.ContentExtension.Decorator"
            icon="icons/full/ovr16/obj_ovr_error.gif"
            id="org.eclipse.datatools.connectivity.ui.decorator.contentextension">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.datatools.connectivity.ui.IContentExtension">
               </objectClass>
               <objectState
                     name="org.eclipse.datatools.connectivity.contentextension.state"
                     value="true">
               </objectState>
            </and>
         </enablement>
         <description>
            %DSE.ContentExtension.Decorator.Description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.actionProvider">
      <actionProvider
            class="org.eclipse.datatools.connectivity.ui.dse.actions.ConnectActionProvider">
		    <enablement>
		    	<or>
		    		<objectClass name = "org.eclipse.datatools.connectivity.ICategory"/>
			      	<objectClass name = "org.eclipse.datatools.connectivity.IConnectionProfile"/>
		      	</or>
		    </enablement>
      </actionProvider>
   </extension>
<!--
	The following is a work in progress. The code currently in ConnectActionProvider
	will be migrated to use object contributions to provide menus via the plugin.xml.
-->	
<!--   <extension
         point="org.eclipse.ui.navigator.actionProvider">
      <actionProvider
            class="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider">
		    <enablement>
		    	<or>
		    		<objectClass name = "org.eclipse.datatools.connectivity.ICategory"/>
			      	<objectClass name = "org.eclipse.datatools.connectivity.IConnectionProfile"/>
		      	</or>
		    </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.datatools.connectivity.ui.dse.viewerContribution1"
            targetID="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator.menu">
         <action
               enablesFor="1"
               label="%DSE.Refresh.label"
               class="org.eclipse.datatools.connectivity.ui.dse.actions.RefreshViewAction"
               menubarPath="slot3"
               id="org.eclipse.datatools.connectivity.ui.actions.refreshviewaction"/>
         <visibility>
		    	<or>
		    		<objectClass name = "org.eclipse.datatools.connectivity.ICategory"/>
			      	<objectClass name = "org.eclipse.datatools.connectivity.IConnectionProfile"/>
		      	</or>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution 
             id="org.eclipse.datatools.connectivity.ui.dse.viewerContribution2"
            targetID="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator.menu">
	         <action
	               label="%DSE.Connect.label"
	               class="org.eclipse.datatools.connectivity.ui.dse.actions.ConnectAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.connectaction">
	            <enablement>
	               <and>
	                  <objectState
	                        value="true"
	                        name="org.eclipse.datatools.connectivity.profile.property.maintainConnection"/>
	                  <objectState
	                        name="org.eclipse.datatools.connectivity.profile.property.isConnected"
	                        value="false">
	                  </objectState>
	               </and>
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Disconnect.label"
	               class="org.eclipse.datatools.connectivity.ui.dse.actions.DisconnectAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.disconnectaction">
	            <enablement>
	               <and>
	                  <objectState
	                        value="true"
	                        name="org.eclipse.datatools.connectivity.profile.property.maintainConnection"/>
		               <objectState
		                     name="org.eclipse.datatools.connectivity.profile.property.isConnected"
		                     value="true">
		               </objectState>
	               </and>
	            </enablement>
	         </action>
	         <action
	               label="%DSE.Duplicate.label"
	               class="org.eclipse.datatools.connectivity.ui.dse.actions.DuplicateProfileAction"
	               menubarPath="slot2"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.duplicateaction">
	         </action>
	         <action
	               label="%DSE.Delete.label"
	               class="org.eclipse.datatools.connectivity.ui.dse.actions.DeleteAction"
	               menubarPath="slot2"
	               enablesFor="*"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.deleteaction">
	         </action>
	         <action
	               label="%DSE.Rename.label"
	               class="org.eclipse.datatools.connectivity.ui.dse.actions.RenameAction"
	               menubarPath="slot2"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.renameaction">
	         </action>
	         <action
	               label="%DSE.Ping.label"
	               class="org.eclipse.datatools.connectivity.ui.dse.actions.PingAction"
	               menubarPath="slot1"
	               enablesFor="1"
	               id="org.eclipse.datatools.connectivity.internal.ui.actions.pingaction">
	            <enablement>
	               <objectState
	                     name="org.eclipse.datatools.connectivity.profile.property.supportsPing"
	                     value="true">
	               </objectState>
	            </enablement>
	         </action>
	         <visibility>
			    	<or>
				      	<objectClass name = "org.eclipse.datatools.connectivity.IConnectionProfile"/>
			      	</or>
	         </visibility>
		 </viewerContribution>
   </extension>
-->        
</plugin>
