<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="%oda.data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSet
            defaultDisplayName="%data.set.name"
            id="org.eclipse.datatools.enablement.oda.ecore.dataSet">
         <properties>
            <propertyGroup
                  defaultDisplayName="Dataset Properties"
                  name="dateset properties">
               <property
                     canInherit="true"
                     defaultDisplayName="OCL-Ecore Invariant"
                     name="OCL_ECORE_INVARIANT"
                     type="string">
               </property>
               <property
                     canInherit="true"
                     defaultDisplayName="Column Definitions"
                     name="COLUMN_DEFINITIONS"
                     type="string">
               </property>
            </propertyGroup>
            <propertyVisibility
                  name="queryText"
                  visibility="hide">
            </propertyVisibility>
            <propertyVisibility
                  name="OCL_ECORE_INVARIANT"
                  visibility="hide">
            </propertyVisibility>
            <propertyVisibility
                  name="COLUMN_DEFINITIONS"
                  visibility="hide">
            </propertyVisibility>
         </properties>
         <dataTypeMapping
               nativeDataTypeCode="1"
               odaScalarDataType="String"
               nativeDataType="STRING">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"
               nativeDataType="INTEGER">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="8"
               odaScalarDataType="Double"
               nativeDataType="DOUBLE">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"
               nativeDataType="BIGDECIMAL">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="91"
               odaScalarDataType="Date"
               nativeDataType="DATE">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="92"
               odaScalarDataType="Time"
               nativeDataType="TIME">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"
               nativeDataType="TIMESTAMP">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"
               nativeDataType="BOOLEAN">
         </dataTypeMapping>
      </dataSet>
      <dataSource
            driverClass="org.eclipse.datatools.enablement.oda.ecore.impl.Driver"
            defaultDisplayName="%datasource.name"
            setThreadContextClassLoader="false"
            odaVersion="3.1"
            id="%oda.data.source.id">
         <properties>
            <propertyGroup
                  defaultDisplayName="Connection Properties"
                  name="connectionProperties">
               <property
                     canInherit="true"
                     defaultDisplayName="URI"
                     name="MODEL_URI"
                     type="string">
               </property>
            </propertyGroup>
            <propertyVisibility
                  name="MODEL_URI"
                  visibility="change">
            </propertyVisibility>
         </properties>
      </dataSource>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%oda.data.source.category.name"
            parentCategory="%oda.parent.category.id"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="%oda.connection.factory.name"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
