<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 *************************************************************************
 * Copyright (c) 2004, 2007 Actuate Corporation.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License 2.0
 * which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-2.0/
 *
 * Contributors:
 *  Actuate Corporation - initial API and implementation
 *  
 *************************************************************************
 *
 * $Id: plugin.xml,v 1.15 2008/07/01 07:59:43 lzhu Exp $
 */
-->

<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            odaVersion="3.1"
            driverClass="org.eclipse.datatools.connectivity.oda.flatfile.FlatFileDriver"
            defaultDisplayName="%datasource.name"
            id="%oda.data.source.id"
            setThreadContextClassLoader="false">
         <properties>
            <property
                  type="string"
                  defaultDisplayName="%datasource.property.home"
                  canInherit="true"
                  name="HOME"/>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="%datasource.property.uri"
                  isEncryptable="false"
                  name="URI"
                  type="string">
            </property>
         	<property
                  defaultDisplayName="%datasource.property.csvdelimitertype"
                  defaultValue="COMMA"
                  name="DELIMTYPE"
                  canInherit="true"
                  type="choice">
               <choice
                     defaultDisplayName="%property.value.comma"
                     name="COMMA"
                     value="COMMA"/>
               <choice
                     defaultDisplayName="%property.value.semicolon"
                     name="SEMICOLON"
                     value="SEMICOLON"/>
               <choice
                     defaultDisplayName="%property.value.pipe"
                     name="PIPE"
                     value="PIPE"/>
               <choice
                     defaultDisplayName="%property.value.tab"
                     name="TAB"
                     value="TAB"/>
            </property>      
            <property
                  type="string"
                  defaultDisplayName="%datasource.property.charset"
                  canInherit="true"
                  name="CHARSET"/>
            <property
                  defaultDisplayName="%datasource.property.inclcolumnnameline"
                  defaultValue="YES"
                  name="INCLCOLUMNNAME"
                  canInherit="true"
                  type="choice">
               <choice
                     defaultDisplayName="%property.value.yes"
                     name="YES"
                     value="YES"/>
               <choice
                     defaultDisplayName="%property.value.no"
                     name="NO"
                     value="NO"/>
            </property>         
            <property
                  defaultDisplayName="%datasource.property.incltypeline"
                  defaultValue="YES"
                  name="INCLTYPELINE"
                  canInherit="true"
                  type="choice">
               <choice
                     defaultDisplayName="%property.value.yes"
                     name="YES"
                     value="YES"/>
               <choice
                     defaultDisplayName="%property.value.no"
                     name="NO"
                     value="NO"/>
            </property>   
            <property
                  defaultDisplayName="%datasource.property.trailnullcols"
                  defaultValue="NO"
                  name="TRAILNULLCOLS"
                  canInherit="true"
                  type="choice">
               <choice
                     defaultDisplayName="%property.value.yes"
                     name="YES"
                     value="YES"/>
               <choice
                     defaultDisplayName="%property.value.no"
                     name="NO"
                     value="NO"/>
            </property>          
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%dataset.name"
            id="org.eclipse.datatools.connectivity.oda.flatfile.dataSet">
            <dataTypeMapping
               nativeDataType="BIT"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
            <dataTypeMapping
                  nativeDataType="INT"
                  nativeDataTypeCode="4"
                  odaScalarDataType="Integer"/>
            <dataTypeMapping
                  nativeDataType="INTEGER"
                  nativeDataTypeCode="4"
                  odaScalarDataType="Integer"/>
            <dataTypeMapping
               nativeDataType="SMALLINT"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
            <dataTypeMapping
               nativeDataType="TINYINT"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>      
         	<dataTypeMapping
               nativeDataType="FLOAT"
               nativeDataTypeCode="8"
               odaScalarDataType="Double"/>
            <dataTypeMapping
                  nativeDataType="DOUBLE"
                  nativeDataTypeCode="8"
                  odaScalarDataType="Double"/>
            <dataTypeMapping
               nativeDataType="REAL"
               nativeDataTypeCode="8"
               odaScalarDataType="Double"/>
            <dataTypeMapping
               nativeDataType="CHAR"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="STRING"
                  nativeDataTypeCode="12"
                  odaScalarDataType="String"/>
            <dataTypeMapping
               nativeDataType="VARCHAR"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
         	<dataTypeMapping
               nativeDataType="LONGVARCHAR"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="DATE"
                  nativeDataTypeCode="91"
                  odaScalarDataType="Date"/>
            <dataTypeMapping
                  nativeDataType="TIME"
                  nativeDataTypeCode="92"
                  odaScalarDataType="Time"/>
            <dataTypeMapping
                  nativeDataType="DATETIME"
                  nativeDataTypeCode="93"
                  odaScalarDataType="Timestamp"/>
            <dataTypeMapping
                  nativeDataType="TIMESTAMP"
                  nativeDataTypeCode="93"
                  odaScalarDataType="Timestamp"/>
            <dataTypeMapping
                  nativeDataType="BLOB"
                  nativeDataTypeCode="2004"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="CLOB"
                  nativeDataTypeCode="2005"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="ANY"
                  nativeDataTypeCode="12"
                  odaScalarDataType="String"/>
            <dataTypeMapping
               nativeDataType="BINARY"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
			<dataTypeMapping
               nativeDataType="VARBINARY"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
         	<dataTypeMapping
               nativeDataType="LONGVARBINARY"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>               
            <dataTypeMapping
               nativeDataType="BIGINT"
               nativeDataTypeCode="2"
               odaScalarDataType="Decimal"/>
            <dataTypeMapping
                  nativeDataType="DECIMAL"
                  nativeDataTypeCode="2"
                  odaScalarDataType="Decimal"/>
            <dataTypeMapping
                  nativeDataType="BIGDECIMAL"
                  nativeDataTypeCode="2"
                  odaScalarDataType="Decimal"/>
            <dataTypeMapping
               nativeDataType="NUMERIC"
               nativeDataTypeCode="2"
               odaScalarDataType="Decimal"/>
            <dataTypeMapping 
                  nativeDataType="BOOLEAN"
                  nativeDataTypeCode="16"
                  odaScalarDataType="Boolean"/>
      </dataSet>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="%oda.data.source.id"
            name="%oda.data.source.category.name"
            parentCategory="%oda.parent.category.id"/>
      <connectionProfile
            category="%oda.data.source.id"
            id="%oda.data.source.id"
            name="%connection.profile.name"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="%oda.connection.factory.name"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="%oda.data.source.id"/>
   </extension>
   
</plugin>
