<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            class="org.eclipse.datatools.enablement.ingres.internal.ui.profiles.NewIngresConnectionProfileWizard"
            description="%WIZARD_DESCRIPTION"
            icon="icons/new_db_element.gif"
            id="org.eclipse.datatools.enablement.ingres.NewIngresConnectionProfileWizard"
            name="%WIZARD_NAME"
            profile="org.eclipse.datatools.enablement.ingres.connectionProfile">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.datatools.enablement.ingres.internal.ui.profiles.IngresPropertyPage"
            id="org.eclipse.datatools.enablement.ingres.IngresPropertyPage"
            name="%PROPERTY_PAGE_NAME">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.eclipse.datatools.enablement.ingres.connectionProfile">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.datatools.connectivity.IConnectionProfile">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.datatools.enablement.ingres.IngresSqlModelContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.datatools.enablement.ingres.UdtUdfFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.datatools.enablement.ingres.internal.ui.providers.IngresContentProvider"
            id="org.eclipse.datatools.enablement.ingres.IngresSqlModelContent"
            labelProvider="org.eclipse.datatools.enablement.ingres.internal.ui.providers.IngresLabelProvider"
            name="Ingres SQL Model Content Extension"
            priority="highest">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.datatools.enablement.ingres.models.ingressqlmodel.IngresSchema">
               </instanceof>
               <instanceof
                     value="org.eclipse.datatools.enablement.ingres.internal.catalog.IngresProcedure">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.datatools.enablement.ingres.internal.ui.filters.UdtUdfFilterFilter"
            id="org.eclipse.datatools.enablement.ingres.UdtUdfFilter"
            name="Ingres UDT and UDF Filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ui.labelService">
      <contributor
            iconLocation="/icons/synonym.gif"
            type="org.eclipse.datatools.enablement.ingres.models.ingressqlmodel.IngresSynonym">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ui.labelService">
      <contributor
            iconLocation="/icons/event.gif"
            type="org.eclipse.datatools.enablement.ingres.models.ingressqlmodel.IngresDBEvent">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.sqleditor.texthover">
      <hover
            class="org.eclipse.datatools.enablement.ingres.internal.ui.sqleditor.texthover.IngresSQLEditorTextHover"
            id="org.eclipse.datatools.enablement.ingres.ui.sqleditor.texthover.IngresSQLEditorTextHover">
      </hover>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
		<decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="false"
            label="%SynonymDecorationServiceLabel"
            state="true"
            class="org.eclipse.datatools.enablement.ingres.internal.ui.providers.decorators.SynonymDecorationService"
            id="org.eclipse.datatools.enablement.ingres.ui.providers.decorators.SynonymDecorationService">
         <enablement>
	            <objectClass
	                  name="org.eclipse.datatools.enablement.ingres.models.ingressqlmodel.IngresSynonym">
	            </objectClass>
         </enablement>
      </decorator>  
   </extension>
      <extension
         id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.modelexplorer.decorator"
         name="%org.eclipse.datatools.connectivity.sqm.core.internal.ui.modelexplorer.decorator"
         point="org.eclipse.ui.decorators">
       <decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.modelExplorerColumnDecoration"
            state="true"
            class="org.eclipse.datatools.enablement.ingres.internal.ui.providers.decorators.ParameterDecorationService"
            id="org.eclipse.datatools.enablement.ingres.internal.ui.providers.decorators.ParameterDecorationService">
         <enablement>
	            <objectClass
	                  name="org.eclipse.datatools.modelbase.sql.routines.Parameter">
	            </objectClass>
         </enablement>
      </decorator>        
         </extension>
      <extension
            point="org.eclipse.datatools.connectivity.ui.driverPropertyEditor">
         <propertyEditor
               customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
               driverPropertyID="org.eclipse.datatools.connectivity.db.password"
               driverTemplateID="org.eclipse.datatools.enablement.ingres.2006.driverTemplate"
               id="org.eclipse.datatools.connectivity.db.password.propertyeditor">
         </propertyEditor>
      </extension>
   <extension
         point="org.eclipse.datatools.sqltools.editor.core.dbConfigurations">
      <dbConfiguration
            configurationClass="org.eclipse.datatools.enablement.ingres.internal.ui.core.IngresDBConfiguration"
            default="false"
            product="Ingres"
            supportsDebugging="false"
            version="2006">
      </dbConfiguration>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.plan.planService">
      <planService
            databaseVendorDefinitionId="Ingres_2006"
            serviceClass="org.eclipse.datatools.enablement.ingres.internal.ui.plan.IngresPlanService">
      </planService>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.editor.core.ui.dbUIConfigurations">
      <dbUIConfiguration
            configurationClass="org.eclipse.datatools.enablement.ingres.internal.ui.core.IngresDBUIConfiguration"
            default="false"
            product="Ingres"
            version="2006">
      </dbUIConfiguration>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.sql.ui.sqlNodesImage">
      <nodeImage
            imageHandler="org.eclipse.datatools.enablement.ingres.internal.ui.parser.IngresASTSQLStatementImageHandler"
            nodeClazzName="org.eclipse.datatools.enablement.ingres.internal.ui.parser.ASTSQLStatement">
      </nodeImage>
   </extension>

</plugin>
