<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.eclipse.datatools.connectivity.db.category"
            name="Databases"/>
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            icon="icons/jdbc_16.gif"
            pingFactory="org.eclipse.datatools.connectivity.db.generic.JDBCConnectionFactory"
            id="org.eclipse.datatools.connectivity.db.generic.connectionProfile"
            name="SQL Model-JDBC Connection"/>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.db.generic.JDBCConnectionFactory"
            id="java.sql.Connection"
            name="JDBC Connection"
            profile="org.eclipse.datatools.connectivity.db.generic.connectionProfile"/>
   </extension>
   
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <category
            id="org.eclipse.datatools.connectivity.db.driverCategory"
            name="Database"/>
    </extension>
    <extension
         point="org.eclipse.datatools.connectivity.driverExtension">     
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.db2udb.genericDriverTemplate"
            jarList="C:\Program Files\IBM\SQLLIB\java\db2jcc.jar,C:\Program Files\IBM\SQLLIB\java\db2jcc_license_cisuz.jar"
            name="IBM DB2 Universal for DB2 UDB V8.2"
            parentCategory="org.eclipse.datatools.connectivity.db.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value="com.ibm.db2.jcc.DB2Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="DB2 UDB"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="V8.2"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:db2://localhost:50000/SAMPLE"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension> 
   
    <extension
         point="org.eclipse.datatools.connectivity.driverExtension">     
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.sybase.genericDriverTemplate"
            jarList="jconn2.jar"
            name="Sybase JDBC Driver for Sybase 12.x"
            parentCategory="org.eclipse.datatools.connectivity.db.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value="com.sybase.jdbc2.jdbc.SybDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="Sybase"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="12.x"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:sybase:Tds:host:port/database"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension> 
  <extension
         point="org.eclipse.datatools.connectivity.driverExtension">     
   
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.generic.genericDriverTemplate"
            jarList=""
            name="Generic JDBC Driver"
            parentCategory="org.eclipse.datatools.connectivity.db.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="Generic JDBC"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="1.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>   
   <extension 
       point="org.eclipse.datatools.connectivity.driverExtension">     
    <driverTemplate 
          createDefault="false" 
          emptyJarListIsOK="false" 
          id="org.eclipse.datatools.connectivity.db.oracle.genericDriverTemplate" 
          jarList="classes12.jar" 
          name="Oracle JDBC Driver for Oracle 10" 
          parentCategory="org.eclipse.datatools.connectivity.db.driverCategory" > 
       <properties> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.driverClass" 
                name="Driver Class" 
                value="oracle.jdbc.OracleDriver" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.vendor" 
                name="Vendor" 
                value="Oracle" 
                required="true" 
                visible="false"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.version" 
                name="Version" 
                value="10" 
                required="true" 
                visible="false"/>   
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.databaseName" 
                name="Database Name" 
                value="db" 
                required="true" 
                visible="true"/>                             
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.URL" 
                name="Connection URL" 
                value="jdbc:oracle:thin:@server:1521:db" 
                required="true" 
                visible="true"/> 
          <property 
                generated="false" 
                id="org.eclipse.datatools.connectivity.db.username" 
                name="User ID" 
                value="" 
                required="false" 
                visible="true"/> 
          <property
                customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="Password"
                required="false"
                visible="true"/> 
       </properties> 
    </driverTemplate> 
 </extension> 
 
</plugin>
