<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            product="DB2 UDB iSeries"
            version="V5R2"
            description="%V5R2Description"
            productDisplayString="%V5R2ProductString"
            versionDisplayString="%V5R2VersionString"
            file="runtime/vendors/DB2 UDB iSeries_5/DB2 UDB iSeries_5.xmi">
      </definition>
      <definition
            product="DB2 UDB iSeries"
            version="V5R3"
            description="%V5R3Description"
            productDisplayString="%V5R3ProductString"
            versionDisplayString="%V5R3VersionString"
            file="runtime/vendors/DB2 UDB iSeries_5R3/DB2 UDB iSeries_5R3.xmi">
      </definition>

   </extension>

</plugin>
