<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            icon="icons/jdbc_16.gif"
            id="org.eclipse.datatools.enablement.msft.sqlserver.connectionProfile"
            name="%profile.sqlserver.title"
            pingFactory="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.JDBCSQLServerConnectionFactory"
            propertiesPersistenceHook="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.SQLServerDBPropertiesPersistenceHook"/>
      <connectionFactory
            class="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.JDBCSQLServerConnectionFactory"
            id="java.sql.Connection"
            name="%jdbc.connection.name"
            profile="org.eclipse.datatools.enablement.msft.sqlserver.connectionProfile"/>
   </extension>
   
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
         <category
      		parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
            id="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
            name="%SQLSERVER_CATEGORY_NAME"/>
         <category
      		parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
            id="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory"
            name="%2005_VERSION_CATEGORY_NAME"/> 
         <category
      		parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
            id="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory"
            name="%2000_VERSION_CATEGORY_NAME"/> 
      
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverTemplate"
            jarList="sqljdbc.jar"
            name="%org.eclipse.datatools.enablement.msft.sqlserver.2005.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.microsoft.sqlserver.jdbc.SQLServerDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="SQL Server"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="2005"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="pubs"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:sqlserver://localhost:1433;databaseName=pubs"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverTemplate"
            jarList="msbase.jar;mssqlserver.jar;msutil.jar"
            name="%org.eclipse.datatools.enablement.msft.sqlserver.2000.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.microsoft.jdbc.sqlserver.SQLServerDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="SQL Server"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="2000"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="pubs"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:microsoft:sqlserver://localhost:1433;databaseName=pubs"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.msft.sqlserver.2005.other.driverTemplate"
            jarList=""
            name="%org.eclipse.datatools.enablement.msft.sqlserver.2005.other.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="SQL Server"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="2005"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.msft.sqlserver.2000.other.driverTemplate"
            jarList=""
            name="%org.eclipse.datatools.enablement.msft.sqlserver.2000.other.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="SQL Server"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="2000"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>
 
  <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
            provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="SQL Server"
            version="2005"/>
      <overrideLoader
            provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="SQL Server"
            version="2000"/>            
      <overrideLoader
            provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
            eclass="org.eclipse.datatools.modelbase.sql.tables.Column"
            product="SQL Server"
            version="2000"/>
      <overrideLoader
            provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
            eclass="org.eclipse.datatools.modelbase.sql.tables.Column"
            product="SQL Server"
            version="2005"/>
     <overrideLoader
           eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
           product="SQL Server"
           provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
           version="2005"/>
     <overrideLoader
           eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
           product="SQL Server"
           provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
           version="2000"/>
  </extension> 
 </plugin>  
