<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="org.eclipse.datatools.enablement.oda.ws.impl.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.1"
            id="org.eclipse.datatools.enablement.oda.ws">
         <properties>
            <propertyGroup
                  name="ws">
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.soapEndPoint"
                     isEncryptable="false"
                     name="soapEndPoint"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.connectionClass"
                     isEncryptable="false"
                     name="connectionClass"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.connectionTimeOut"
                     isEncryptable="false"
                     name="connectionTimeOut"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     isEncryptable="false"
                     name="wsdlURI"
                     defaultDisplayName="%datasource.property.wsdlUrl"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.driverClassPath"
                     isEncryptable="false"
                     name="driverClassPath"
                     type="string">
               </property>
            </propertyGroup>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="org.eclipse.datatools.enablement.oda.ws.dataSet">
         <properties>
            <propertyGroup
                  name="ws">
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     isEncryptable="false"
                     name="operationTrace"
                     type="string">
               </property>
            </propertyGroup>
            <propertyGroup
                  name="xml">
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%dataset.property.xmlFileURI"
                     isEncryptable="false"
                     name="xmlFileURI"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%dataset.property.xsdFileURI"
                     isEncryptable="false"
                     name="xsdFileURI"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     isEncryptable="false"
                     name="xmlQueryText"
                     type="string">
               </property>
            </propertyGroup>
            <propertyVisibility name="queryText" visibility="hide"/>
            <propertyVisibility name="xsdFileURI" visibility="hide"/>
            <propertyVisibility name="xmlFileURI" visibility="hide"/>
            <propertyVisibility
                  name="operationTrace"
                  visibility="hide">
            </propertyVisibility>
            <propertyVisibility
                  name="xmlQueryText"
                  visibility="hide">
            </propertyVisibility>
         </properties>
           <dataTypeMapping
                  nativeDataType="INT"
                  nativeDataTypeCode="4"
                  odaScalarDataType="Integer"/>
            <dataTypeMapping
                  nativeDataType="DOUBLE"
                  nativeDataTypeCode="8"
                  odaScalarDataType="Double"/>
            <dataTypeMapping
                  nativeDataType="STRING"
                  nativeDataTypeCode="12"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="DATE"
                  nativeDataTypeCode="91"
                  odaScalarDataType="Date"/>
            <dataTypeMapping
                  nativeDataType="TIME"
                  nativeDataTypeCode="92"
                  odaScalarDataType="Time"/>
            <dataTypeMapping
                  nativeDataType="TIMESTAMP"
                  nativeDataTypeCode="93"
                  odaScalarDataType="Timestamp"/>
            <dataTypeMapping
                  nativeDataType="BLOB"
                  nativeDataTypeCode="2004"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="CLOB"
                  nativeDataTypeCode="2005"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="BIGDECIMAL"
                  nativeDataTypeCode="2"
                  odaScalarDataType="Decimal"/>
           <dataTypeMapping nativeDataType="BOOLEAN"
                  nativeDataTypeCode="16"
                  odaScalarDataType="Boolean"/>
      </dataSet>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
