<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="org.eclipse.datatools.enablement.oda.ws.impl.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.1"
            id="org.eclipse.datatools.enablement.oda.ws">
         <properties>
            <propertyGroup
                  name="ws">
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.soapEndPoint"
                     isEncryptable="false"
                     name="soapEndPoint"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.connectionClass"
                     isEncryptable="false"
                     name="connectionClass"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%datasource.property.connectionTimeOut"
                     isEncryptable="false"
                     name="connectionTimeOut"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     isEncryptable="false"
                     name="wsdlURI"
                     type="string">
               </property>
            </propertyGroup>
            <propertyVisibility
                  name="wsdlURI"
                  visibility="hide">
            </propertyVisibility>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="org.eclipse.datatools.enablement.oda.ws.dataSet">
         <properties>
            <propertyGroup
                  name="ws">
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     isEncryptable="false"
                     name="operationTrace"
                     type="string">
               </property>
            </propertyGroup>
            <propertyGroup
                  name="xml">
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%dataset.property.xmlFileURI"
                     isEncryptable="false"
                     name="xmlFileURI"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     defaultDisplayName="%dataset.property.xsdFileURI"
                     isEncryptable="false"
                     name="xsdFileURI"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     canInherit="true"
                     isEncryptable="false"
                     name="xmlQueryText"
                     type="string">
               </property>
            </propertyGroup>
            <propertyVisibility
                  name="operationTrace"
                  visibility="hide">
            </propertyVisibility>
            <propertyVisibility
                  name="xmlQueryText"
                  visibility="hide">
            </propertyVisibility>
         </properties>
         <dataTypeMapping
               nativeDataTypeCode="1"
               odaScalarDataType="String"
               nativeDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"
               nativeDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="8"
               odaScalarDataType="Double"
               nativeDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"
               nativeDataType="BigDecimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="91"
               odaScalarDataType="Date"
               nativeDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="92"
               odaScalarDataType="Time"
               nativeDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"
               nativeDataType="Timestamp">
         </dataTypeMapping>
      </dataSet>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
