<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            class="org.eclipse.datatools.enablement.oracle.internal.ui.NewOracleConnectionProfileWizard"
            icon="icons/new_db_element.gif"
            id="org.eclipse.datatools.enablement.oracle.NewOracleConnectionProfileWizard"
            name="%profile.oracle.wizard.title"
            profile="org.eclipse.datatools.enablement.oracle.connectionProfile"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.datatools.enablement.oracle.internal.ui.OracleDBProfilePropertyPage"
            id="org.eclipse.datatools.enablement.oracle.profileProperties"
            name="%profile.oracle.properties"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.eclipse.datatools.enablement.oracle.connectionProfile"/>
      </page>
   </extension>
  
 </plugin>  
