<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseRecognition">
      <recognizer
            class="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.SQLServerDatabaseRecognizer">
      </recognizer>
	</extension>
	<extension point="org.eclipse.datatools.connectivity.connectionProfile">
		<connectionProfile category="org.eclipse.datatools.connectivity.db.category"
			configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
			icon="icons/jdbc_16.gif"
			id="org.eclipse.datatools.enablement.msft.sqlserver.connectionProfile"
			name="%profile.sqlserver.title"
			pingFactory="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.JDBCSQLServerConnectionFactory"
			propertiesPersistenceHook="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.SQLServerDBPropertiesPersistenceHook" />
		<connectionFactory
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.connection.JDBCSQLServerConnectionFactory"
			id="java.sql.Connection" 
			name="%jdbc.connection.name"
			profile="org.eclipse.datatools.enablement.msft.sqlserver.connectionProfile" />
		<configurationType
			id="org.eclipse.datatools.enablement.msft.sqlserver.configurationType1"
			name="SQL Server">
		</configurationType>
	</extension>
	<extension point="org.eclipse.datatools.connectivity.driverExtension">
		<category parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			name="%SQLSERVER_CATEGORY_NAME" />
		<category
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2016.driverCategory"
			name="%2016_VERSION_CATEGORY_NAME" />
		<category
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2014.driverCategory"
			name="%2014_VERSION_CATEGORY_NAME" />
		<category
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2012.driverCategory"
			name="%2012_VERSION_CATEGORY_NAME" />
		<category
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2008.driverCategory"
			name="%2008_VERSION_CATEGORY_NAME" />
		<category
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory"
			name="%2005_VERSION_CATEGORY_NAME" />
		<category
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory"
			name="%2000_VERSION_CATEGORY_NAME" />
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2016.driverTemplate"
			jarList="sqljdbc.jar"
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2016.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2016.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2016DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="com.microsoft.sqlserver.jdbc.SQLServerDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2014" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="pubs" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="jdbc:sqlserver://localhost:1433;databaseName=pubs" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2014.driverTemplate"
			jarList="sqljdbc.jar"
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2014.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2014.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2014DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="com.microsoft.sqlserver.jdbc.SQLServerDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2014" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="pubs" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="jdbc:sqlserver://localhost:1433;databaseName=pubs" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2012.driverTemplate"
			jarList="sqljdbc.jar"
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2012.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2012.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2012DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="com.microsoft.sqlserver.jdbc.SQLServerDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2012" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="pubs" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="jdbc:sqlserver://localhost:1433;databaseName=pubs" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2008.driverTemplate"
			jarList="sqljdbc.jar"
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2008.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2008.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2008DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="com.microsoft.sqlserver.jdbc.SQLServerDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2008" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="pubs" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="jdbc:sqlserver://localhost:1433;databaseName=pubs" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverTemplate"
			jarList="sqljdbc.jar"
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2005.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2005DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="com.microsoft.sqlserver.jdbc.SQLServerDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2005" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="pubs" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="jdbc:sqlserver://localhost:1433;databaseName=pubs" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverTemplate"
			jarList="msbase.jar;mssqlserver.jar;msutil.jar"
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2000.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2000DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="com.microsoft.jdbc.sqlserver.SQLServerDriver" required="true"
					visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2000" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="pubs" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="jdbc:microsoft:sqlserver://localhost:1433;databaseName=pubs"
					required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<!--<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2008.other.driverTemplate"
			jarList=""
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2008.other.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2008.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2008DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2008" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2005.other.driverTemplate"
			jarList=""
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2005.other.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2005DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2005" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>
		<driverTemplate createDefault="false" emptyJarListIsOK="false"
			id="org.eclipse.datatools.enablement.msft.sqlserver.2000.other.driverTemplate"
			jarList=""
			name="%org.eclipse.datatools.enablement.msft.sqlserver.2000.other.driverTemplate"
			parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory"
			valuesProvider="org.eclipse.datatools.enablement.msft.internal.sqlserver.driver.SQLServer2000DriverValuesProvider">
			<properties>
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.driverClass" name="%driverClass"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.vendor" name="%driverVendor"
					value="SQL Server" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.version" name="%driverVersion"
					value="2000" required="true" visible="false" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.databaseName" name="%driverDBName"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.URL" name="%driverConnectionURL"
					value="" required="true" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.username" name="%driverUID"
					value="" required="false" visible="true" />
				<property generated="false"
					id="org.eclipse.datatools.connectivity.db.password" name="%driverPWD"
					required="false" visible="true" />
			</properties>
		</driverTemplate>-->
	</extension>
	<extension point="org.eclipse.datatools.connectivity.sqm.core.catalog">
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
			eclass="org.eclipse.datatools.modelbase.sql.schema.Schema" 
			product="SQL Server"
			version="2016" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
			eclass="org.eclipse.datatools.modelbase.sql.schema.Schema" 
			product="SQL Server"
			version="2014" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
			eclass="org.eclipse.datatools.modelbase.sql.schema.Schema" 
			product="SQL Server"
			version="2012" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
			eclass="org.eclipse.datatools.modelbase.sql.schema.Schema" 
			product="SQL Server"
			version="2008" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
			eclass="org.eclipse.datatools.modelbase.sql.schema.Schema" 
			product="SQL Server"
			version="2005" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005SchemaLoader"
			eclass="org.eclipse.datatools.modelbase.sql.schema.Schema" 
			product="SQL Server"
			version="2000" />
		
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Column" 
			product="SQL Server"
			version="2016" />		
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Column" 
			product="SQL Server"
			version="2014" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Column" 
			product="SQL Server"
			version="2012" />	
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Column" 
			product="SQL Server"
			version="2008" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Column" 
			product="SQL Server"
			version="2005" />
		<overrideLoader
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005ColumnLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Column" 
			product="SQL Server"
			version="2000" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
			eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
			product="SQL Server"
			version="2016" />			
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
			eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
			product="SQL Server"
			version="2014" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
			eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
			product="SQL Server"
			version="2012" />	
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
			eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
			product="SQL Server"
			version="2008" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
			eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
			product="SQL Server"
			version="2005" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005RoutineLoader"
			eclass="org.eclipse.datatools.modelbase.sql.routines.Routine"
			product="SQL Server"
			version="2000" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
			product="SQL Server"
			version="2016" />			
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
			product="SQL Server"
			version="2014" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
			product="SQL Server"
			version="2012" />	
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
			product="SQL Server"
			version="2008" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
			product="SQL Server"
			version="2005" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2000TableLoader"
			eclass="org.eclipse.datatools.modelbase.sql.tables.Table"
			product="SQL Server"
			version="2000" />

		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableIndexLoader"
			eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
			product="SQL Server"
			version="2016" />		
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableIndexLoader"
			eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
			product="SQL Server"
			version="2014" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableIndexLoader"
			eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
			product="SQL Server"
			version="2012" />	
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableIndexLoader"
			eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
			product="SQL Server"
			version="2008" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableIndexLoader"
			eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
			product="SQL Server"
			version="2005" />
		<!--<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005TableIndexLoader"
			eclass="org.eclipse.datatools.modelbase.sql.constraints.Index"
			product="SQL Server"
			version="2000" />-->
<!--  <overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005UDTypeLoader"
			eclass="org.eclipse.datatools.modelbase.sql.datatypes.UserDefinedType"
			product="SQL Server"
			version="2008" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005UDTypeLoader"
			eclass="org.eclipse.datatools.modelbase.sql.datatypes.UserDefinedType"
			product="SQL Server"
			version="2005" />
		<overrideLoader 
			provider="org.eclipse.datatools.enablement.msft.internal.sqlserver.loaders.SQL2005UDTypeLoader"
			eclass="org.eclipse.datatools.modelbase.sql.datatypes.UserDefinedType"
			product="SQL Server"
			version="2000" />
-->  
	</extension>
	<extension point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
		<generator
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.ddl.SqlServerDdlGenerator"
			product="SQL Server"
			version="2005">
		</generator>
			<generator
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.ddl.SqlServer2000DdlGenerator"
			product="SQL Server"
			version="2000">
		</generator>
			<generator
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.ddl.SqlServerDdlGenerator"
			product="SQL Server"
			version="2008">
		</generator>
		<generator
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.ddl.SqlServerDdlGenerator"
			product="SQL Server"
			version="2012">
		</generator>
		<generator
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.ddl.SqlServerDdlGenerator"
			product="SQL Server"
			version="2014">
		</generator>
		<generator
			class="org.eclipse.datatools.enablement.msft.internal.sqlserver.ddl.SqlServerDdlGenerator"
			product="SQL Server"
			version="2016">
		</generator>		
	</extension>
	
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.mappings">
      <providerIDtoDriverCategoryID
            driverCategoryID="org.eclipse.datatools.enablement.msft.sqlserver.driverCategory"
            providerID="org.eclipse.datatools.enablement.msft.sqlserver.connectionProfile">
      </providerIDtoDriverCategoryID>
    </extension>
 <extension
       point="org.eclipse.datatools.connectivity.driverExtension">
    <driverTemplate
          createDefault="false"
          emptyJarListIsOK="false"
          id="org.eclipse.datatools.enablement.msft.sqlserver.2005.other.driverTemplate"
          name="%org.eclipse.datatools.enablement.msft.sqlserver.2005.other.driverTemplate"
          parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2005.driverCategory">
       <properties>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.driverClass"
                name="%driverClass"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.vendor"
                name="%driverVendor"
                required="true"
                value="SQL Server"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.version"
                name="%driverVersion"
                required="true"
                value="2005"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.databaseName"
                name="%driverDBName"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.URL"
                name="%driverConnectionURL"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.username"
                name="%driverUID"
                required="false"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true">
          </property>
       </properties>
    </driverTemplate>
 </extension>
 <extension
       point="org.eclipse.datatools.connectivity.driverExtension">
    <driverTemplate
          createDefault="false"
          emptyJarListIsOK="false"
          id="org.eclipse.datatools.enablement.msft.sqlserver.2000.other.driverTemplate"
          name="%org.eclipse.datatools.enablement.msft.sqlserver.2000.other.driverTemplate"
          parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2000.driverCategory">
       <properties>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.driverClass"
                name="%driverClass"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.vendor"
                name="%driverVendor"
                required="true"
                value="SQL Server"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.version"
                name="%driverVersion"
                required="true"
                value="2000"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.databaseName"
                name="%driverDBName"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.URL"
                name="%driverConnectionURL"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.username"
                name="%driverUID"
                required="false"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true">
          </property>
       </properties>
    </driverTemplate>
 </extension>
 <extension
       point="org.eclipse.datatools.connectivity.driverExtension">
    <driverTemplate
          createDefault="false"
          emptyJarListIsOK="false"
          id="org.eclipse.datatools.enablement.msft.sqlserver.2008.other.driverTemplate"
          name="%org.eclipse.datatools.enablement.msft.sqlserver.2008.other.driverTemplate"
          parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2008.driverCategory">
       <properties>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.driverClass"
                name="%driverClass"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.vendor"
                name="%driverVendor"
                required="true"
                value="SQL Server"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.version"
                name="%driverVersion"
                required="true"
                value="2008"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.databaseName"
                name="%driverDBName"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.URL"
                name="%driverConnectionURL"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.username"
                name="%driverUID"
                required="false"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true">
          </property>
       </properties>
    </driverTemplate>
 </extension>
 
 <extension
       point="org.eclipse.datatools.connectivity.driverExtension">
    <driverTemplate
          createDefault="false"
          emptyJarListIsOK="false"
          id="org.eclipse.datatools.enablement.msft.sqlserver.2012.other.driverTemplate"
          name="%org.eclipse.datatools.enablement.msft.sqlserver.2012.other.driverTemplate"
          parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2012.driverCategory">
       <properties>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.driverClass"
                name="%driverClass"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.vendor"
                name="%driverVendor"
                required="true"
                value="SQL Server"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.version"
                name="%driverVersion"
                required="true"
                value="2012"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.databaseName"
                name="%driverDBName"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.URL"
                name="%driverConnectionURL"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.username"
                name="%driverUID"
                required="false"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true">
          </property>
       </properties>
    </driverTemplate>
 </extension>
 <extension
       point="org.eclipse.datatools.connectivity.driverExtension">
    <driverTemplate
          createDefault="false"
          emptyJarListIsOK="false"
          id="org.eclipse.datatools.enablement.msft.sqlserver.2014.other.driverTemplate"
          name="%org.eclipse.datatools.enablement.msft.sqlserver.2014.other.driverTemplate"
          parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2014.driverCategory">
       <properties>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.driverClass"
                name="%driverClass"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.vendor"
                name="%driverVendor"
                required="true"
                value="SQL Server"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.version"
                name="%driverVersion"
                required="true"
                value="2014"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.databaseName"
                name="%driverDBName"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.URL"
                name="%driverConnectionURL"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.username"
                name="%driverUID"
                required="false"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true">
          </property>
       </properties>
    </driverTemplate>
 </extension>
  <extension
       point="org.eclipse.datatools.connectivity.driverExtension">
    <driverTemplate
          createDefault="false"
          emptyJarListIsOK="false"
          id="org.eclipse.datatools.enablement.msft.sqlserver.2016.other.driverTemplate"
          name="%org.eclipse.datatools.enablement.msft.sqlserver.2016.other.driverTemplate"
          parentCategory="org.eclipse.datatools.enablement.msft.sqlserver.2016.driverCategory">
       <properties>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.driverClass"
                name="%driverClass"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.vendor"
                name="%driverVendor"
                required="true"
                value="SQL Server"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.version"
                name="%driverVersion"
                required="true"
                value="2016"
                visible="false">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.databaseName"
                name="%driverDBName"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.URL"
                name="%driverConnectionURL"
                required="true"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.username"
                name="%driverUID"
                required="false"
                visible="true">
          </property>
          <property
                generated="false"
                id="org.eclipse.datatools.connectivity.db.password"
                name="%driverPWD"
                required="false"
                visible="true">
          </property>
       </properties>
    </driverTemplate>
 </extension>
	
</plugin>
