<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Containment Provider for Synonym support -->
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.logicalContainment">
		<containment
			package="http:///org/eclipse/datatools/modelbase/derby/derby.ecore"
			class="Synonym"
			provider="org.eclipse.datatools.connectivity.apache.internal.derby.containment.DerbySynonymContainmentProvider">
		</containment>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
            provider="org.eclipse.datatools.connectivity.apache.internal.derby.catalog.DerbySchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="Derby"
            version="10.0"/>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <generator
            version="10.0"
            product="Derby"
            class="org.eclipse.datatools.connectivity.apache.internal.derby.ddl.DerbyDdlGenerator">
      </generator>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
            provider="org.eclipse.datatools.connectivity.apache.internal.derby.catalog.DerbySchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="Derby"
            version="10.1"/>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <generator
            version="10.1"
            product="Derby"
            class="org.eclipse.datatools.connectivity.apache.internal.derby.ddl.DerbyDdlGenerator">
      </generator>
   </extension>
	
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
           provider="org.eclipse.datatools.connectivity.apache.internal.derby.catalog.DerbySchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="Derby"
            version="10.2"/>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <generator
            version="10.2"
            product="Derby"
           class="org.eclipse.datatools.connectivity.apache.internal.derby.ddl.DerbyDdlGenerator">
      </generator>
   </extension>

<extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            icon="icons/jdbc_16.gif"
            pingFactory="org.eclipse.datatools.connectivity.apache.internal.derby.connection.DerbyJDBCConnectionFactory"
            id="org.eclipse.datatools.connectivity.db.derby.embedded.connectionProfile"
            name="%DERBY_CONNECTION_PROFILE_NAME"
            propertiesPersistenceHook="org.eclipse.datatools.connectivity.apache.internal.derby.connection.DerbyPropertiesPersistenceHook"/>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.apache.internal.derby.connection.DerbyJDBCConnectionFactory"
            id="java.sql.Connection"
            name="%DERBY_JDBC_CONNECTION_FACTORY_NAME"
            profile="org.eclipse.datatools.connectivity.db.derby.embedded.connectionProfile"/>
   </extension>
   
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
      <category
      		parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
            id="org.eclipse.datatools.connectivity.db.derby.driverCategory"
            name="%DERBY_CATEGORY_NAME"/>
       <category
      		parentCategory="org.eclipse.datatools.connectivity.db.derby.driverCategory"
            id="org.eclipse.datatools.connectivity.db.derby.10_0.driverCategory"
            name="%10_0_VERSION_CATEGORY_NAME"/> 
        <category
      		parentCategory="org.eclipse.datatools.connectivity.db.derby.driverCategory"
            id="org.eclipse.datatools.connectivity.db.derby.10_1.driverCategory"
            name="%10_1_VERSION_CATEGORY_NAME"/> 
        <category
      		parentCategory="org.eclipse.datatools.connectivity.db.derby.driverCategory"
            id="org.eclipse.datatools.connectivity.db.derby.10_2.driverCategory"
            name="%10_2_VERSION_CATEGORY_NAME"/> 
            
      <driverTemplate
            createDefault="false"
            defaultDefinitionName="%DERBY_EMBEDDED_DRIVER_DEFAULT_INSTANCE_NAME"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby.genericDriverTemplate"
            jarList="derby.jar"
            name="%DERBY_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_0.driverCategory"
            valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyDriverValuesProvider101">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.EmbeddedDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby:C:\DerbyDatabases\MyDB;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            defaultDefinitionName="%DERBY101_EMBEDDED_DRIVER_DEFAULT_INSTANCE_NAME"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby101.genericDriverTemplate"
            jarList="derby.jar"
            name="%DERBY101_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_1.driverCategory"
            valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyDriverValuesProvider101">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.EmbeddedDriver"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby:C:\DerbyDatabases\MyDB;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            defaultDefinitionName="%DERBY102_EMBEDDED_DRIVER_DEFAULT_INSTANCE_NAME"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby102.genericDriverTemplate"
            jarList="derby.jar"
            name="%DERBY102_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_2.driverCategory"
            valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.EmbeddedDriver"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.2"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby:C:\DerbyDatabases\MyDB;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby.db2UniversalDriver"
            jarList="db2jcc.jar;db2jcc_license_c.jar"
            name="%DERBY_NETWORK_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_0.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="com.ibm.db2.jcc.DB2Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value='jdbc:derby:net://localhost:1527/"C:/DerbyDatabases/MyDB";create=true:retrieveMessagesFromServerOnGetMessage=true;'
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="user"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="true"
                  value="pwd"
                  visible="true"/>
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby101.db2UniversalDriver"
            jarList="db2jcc.jar;db2jcc_license_c.jar"
            name="%DERBY101_NETWORK_EMBEDDED_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_1.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="com.ibm.db2.jcc.DB2Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value='jdbc:derby:net://localhost:1527/"C:/DerbyDatabases/MyDB";create=true:retrieveMessagesFromServerOnGetMessage=true;'
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="user"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="true"
                  value="pwd"
                  visible="true"/>
         </properties>
      </driverTemplate>    
      <driverTemplate
            createDefault="false"
            defaultDefinitionName="%DERBY101_CLIENT_DRIVER_DEFAULT_INSTANCE_NAME"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby101.clientDriver"
            jarList="derbyclient.jar"
            name="%DERBY101_CLIENT_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_1.driverCategory"
            valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyClientDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.ClientDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby://localhost:1527/sample;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="user"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="true"
                  value="pwd"
                  visible="true"/>
         </properties>
      </driverTemplate> 
            <driverTemplate
                  createDefault="false"
                  defaultDefinitionName="%DERBY102_CLIENT_DRIVER_DEFAULT_INSTANCE_NAME"
                  emptyJarListIsOK="false"
                  id="org.eclipse.datatools.connectivity.db.derby102.clientDriver"
                  jarList="derbyclient.jar"
                  name="%DERBY102_CLIENT_DRIVER_TEMPLATE_NAME"
                  parentCategory="org.eclipse.datatools.connectivity.db.derby.10_2.driverCategory"
                  valuesProvider="org.eclipse.datatools.connectivity.apache.internal.derby.driver.DerbyClientDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.apache.derby.jdbc.ClientDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.2"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:derby://localhost:1527/sample;create=true"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="user"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  required="true"
                  value="pwd"
                  visible="true"/>
         </properties>
      </driverTemplate> 
      
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby102.otherDriver"
            jarList=""
            name="%DERBY102_OTHER_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_2.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.2"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
      
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby101.otherDriver"
            jarList=""
            name="%DERBY101_OTHER_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_1.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
      
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.derby.otherDriver"
            jarList=""
            name="%DERBY_OTHER_DRIVER_TEMPLATE_NAME"
            parentCategory="org.eclipse.datatools.connectivity.db.derby.10_0.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="Derby"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="10.0"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%PASSWORD_PROPERTY_NAME"
                  value=""
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>
   
    <extension
    	point="org.eclipse.datatools.connectivity.sqm.core.mappings">
       <providerIDtoDriverCategoryID
          driverCategoryID="org.eclipse.datatools.connectivity.db.derby.driverCategory"
          providerID="org.eclipse.datatools.connectivity.db.derby.embedded.connectionProfile">
       </providerIDtoDriverCategoryID>
    </extension>

</plugin>
