<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseRecognition">
      <recognizer
            class="org.eclipse.datatools.enablement.ibm.db2.internal.iseries.ISeriesDatabaseRecognizer">
      </recognizer>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            configurationType="org.eclipse.datatools.connectivity.db.generic.configurationType"
            icon="icons/jdbc_16.gif"
            id="org.eclipse.datatools.enablement.ibm.db2.iseries.connectionProfile"
            name="%profile.db2.iseries.title"
            pingFactory="org.eclipse.datatools.enablement.ibm.db2.internal.iseries.JDBCISeriesConnectionFactory"
            propertiesPersistenceHook="org.eclipse.datatools.enablement.ibm.db2.internal.iseries.ISeriesDBPropertiesPersistenceHook"/>
      <connectionFactory
            class="org.eclipse.datatools.enablement.ibm.db2.internal.iseries.JDBCISeriesConnectionFactory"
            id="java.sql.Connection"
            name="%jdbc.connection.name"
            profile="org.eclipse.datatools.enablement.ibm.db2.iseries.connectionProfile"/>
   </extension>
   
	<extension
         point="org.eclipse.datatools.connectivity.driverExtension">    
         <category
      		parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"
            id="org.eclipse.datatools.enablement.ibm.db2.iseries.driverCategory"
            name="%DB2_UDB_ISERIES_CATEGORY_NAME"/>
  
	  <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.ibm.db2.iseries.toolbox.driverTemplate"
            jarList="jt400.jar"
            name="%org.eclipse.datatools.enablement.ibm.db2.iseries.toolbox.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.ibm.db2.iseries.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.ibm.as400.access.AS400JDBCDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="DB2 UDB iSeries"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="V5R3"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="host"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:as400:host;prompt=false"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>

      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.ibm.db2.iseries.driverTemplate"
            jarList="C:\Program Files\IBM\SQLLIB\java\db2jcc.jar;C:\Program Files\IBM\SQLLIB\java\db2jcc_license_cisuz.jar"
            name="%org.eclipse.datatools.enablement.ibm.db2.iseries.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.ibm.db2.iseries.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.ibm.db2.jcc.DB2Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="DB2 UDB iSeries"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="V5R3"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:db2://host:446/database:retrieveMessagesFromServerOnGetMessage=true;"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>

      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.ibm.db2.iseries.other.driverTemplate"
            jarList=""
            name="%org.eclipse.datatools.enablement.ibm.db2.iseries.other.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.ibm.db2.iseries.driverCategory">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="DB2 UDB iSeries"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="V5R3"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value=""
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value=""
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value=""
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>
 <extension
       point="org.eclipse.datatools.connectivity.sqm.core.mappings">
    <providerIDtoDriverCategoryID
          driverCategoryID="org.eclipse.datatools.enablement.ibm.db2.iseries.driverCategory"
          providerID="org.eclipse.datatools.enablement.ibm.db2.iseries.connectionProfile">
    </providerIDtoDriverCategoryID>
 </extension>
 </plugin>  
