<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            class="org.eclipse.datatools.connectivity.db.generic.ui.NewConnectionProfileWizard"
            icon="icons/new_db_element.gif"
            id="org.eclipse.datatools.connectivity.db.generic.ui.NewConnectionProfileWizard"
            name="SQL Model-JDBC Connection"
            profile="org.eclipse.datatools.connectivity.db.generic.connectionProfile"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.datatools.connectivity.db.generic.ui.GenericDBProfilePropertyPage"
            id="org.eclipse.datatools.connectivity.db.generic.profileProperties"
            name="JDBC Connection Properties"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.eclipse.datatools.connectivity.db.generic.connectionProfile"/>
      </page>
   </extension>

</plugin>
