<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="additionalcontroller" name="additionalcontroller" schema="schema/additionalcontroller.exsd"/>

   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <catalog
            version="12.x"
            product="Sybase_ASE"
            provider="org.eclipse.datatools.enablement.ase.catalog.SybaseASECatalogProvider">
      </catalog>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <catalog
            product="Sybase_ASE"
            provider="org.eclipse.datatools.enablement.ase.catalog.SybaseASECatalogProvider"
            version="15.x"/>
   </extension>


  <extension point="org.eclipse.datatools.connectivity.sqm.core.logicalContainment">
  	<containment 
  		package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore" 
  		class="SybaseASEDatabase" 
  		provider="org.eclipse.datatools.enablement.ase.containment.SybaseASEDatabaseContainmentProvider" /> 
  	<containment 
  		package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore" 
  		class="SybaseASECatalog" 
  		provider="org.eclipse.datatools.enablement.ase.containment.SybaseASECatalogsContainmentProvider" /> 
  	<containment 
  		package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore" 
  		class="SybaseASESchema" 
  		provider="org.eclipse.datatools.enablement.ase.containment.SybaseASESchemaContainmentProvider" /> 
    <containment
        package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
        class="SybaseASEUserDefinedType"
        provider="org.eclipse.datatools.enablement.ase.containment.SybaseASEUserDefinedTypeContainmentProvider"/>
    <containment
        package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
        class="SybaseASEWebService"
        provider="org.eclipse.datatools.enablement.ase.containment.SybaseASEWebServiceContainmentProvider"/>
    <containment
        package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
        class="SybaseASEPredefinedDataType"
        provider="org.eclipse.datatools.enablement.ase.containment.SybaseASEPredefinedTypeContainmentProvider"/>
    <containment
        package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
        class="SybaseASEDefault"
        provider="org.eclipse.datatools.enablement.ase.containment.SybaseASEDefaultContainmentProvider"/>
    <containment
        package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
        class="SybaseASERule"
        provider="org.eclipse.datatools.enablement.ase.containment.SybaseASERuleContainmentProvider"/>
    <containment
        package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
        class="SybaseASEProxyTable"
        provider="org.eclipse.datatools.enablement.ase.containment.SybaseASEProxyTableContainmentProvider"/>
  </extension>
	
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <generator
            version="12.x"
            product="Sybase_ASE"
            class="org.eclipse.datatools.enablement.ase.ddl.SybaseASEDdlGenerator">
      </generator>
      <generator
            version="15.x"
            product="Sybase_ASE"
            class="org.eclipse.datatools.enablement.ase.ddl.SybaseASEDdlGenerator">
      </generator>
   </extension>
 <extension
       point="org.eclipse.datatools.enablement.sybase.deltaDdlGenProvider">
    <deltaDdlGenService
          class="SybaseASETable"
          package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
          product="Sybase_ASE"
          provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASETableDeltaDdlGenProvider"
          version="12.x"/>
    <deltaDdlGenService
          class="SybaseASEProcedure"
          package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
          product="Sybase_ASE"
          provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEProcedureDeltaDdlProvider"
          version="12.x"/>
    <deltaDdlGenService
          class="Trigger"
          package="http:///org/eclipse/datatools/modelbase/sql/tables.ecore"
          product="Sybase_ASE"
          provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASETriggerDeltaDdlProvider"
          version="12.x"/>
          <deltaDdlGenService
          class="SybaseASETable"
          package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
          product="Sybase_ASE"
          provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASETableDeltaDdlGenProvider"
          version="15.x"/>
    <deltaDdlGenService
          class="SybaseASEProcedure"
          package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
          product="Sybase_ASE"
          provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEProcedureDeltaDdlProvider"
          version="15.x"/>
    <deltaDdlGenService
          class="Trigger"
          package="http:///org/eclipse/datatools/modelbase/sql/tables.ecore"
          product="Sybase_ASE"
          provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASETriggerDeltaDdlProvider"
          version="15.x"/>

      <deltaDdlGenService
            class="Privilege"
            package="http:///org/eclipse/datatools/modelbase/sql/accesscontrol.ecore"
            product="Sybase_ASE"
            provider="org.eclipse.datatools.enablement.ase.deltaddl.ASEPrivilegeDeltaDdlGenProvider"
            version="12.x"/>
      <deltaDdlGenService
            class="Privilege"
            package="http:///org/eclipse/datatools/modelbase/sql/accesscontrol.ecore"
            product="Sybase_ASE"
            provider="org.eclipse.datatools.enablement.ase.deltaddl.ASEPrivilegeDeltaDdlGenProvider"
            version="15.x"/>

          <deltaDdlGenService
                class="SybaseASEColumn"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEColumnDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="SybaseASEColumn"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEColumnDeltaDdlGenProvider"
                version="15.x"/>
           <deltaDdlGenService
                class="SybaseASEIndex"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEIndexDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="SybaseASEIndex"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEIndexDeltaDdlGenProvider"
                version="15.x"/>

           <deltaDdlGenService
                class="SybaseASEPrimaryKey"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUniqueDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="SybaseASEPrimaryKey"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUniqueDeltaDdlGenProvider"
                version="15.x"/>
           <deltaDdlGenService
                class="SybaseASEUniqueConstraint"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUniqueDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="SybaseASEUniqueConstraint"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUniqueDeltaDdlGenProvider"
                version="15.x"/>
                <deltaDdlGenService
                class="SybaseASEPrimaryKey"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUniqueDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="SybaseASEPrimaryKey"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUniqueDeltaDdlGenProvider"
                version="15.x"/>
           <deltaDdlGenService
                class="CheckConstraint"
                package="http:///org/eclipse/datatools/modelbase/sql/constraints.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASECheckDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="CheckConstraint"
                package="http:///org/eclipse/datatools/modelbase/sql/constraints.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASECheckDeltaDdlGenProvider"
                version="15.x"/>
           <deltaDdlGenService
                class="ForeignKey"
                package="http:///org/eclipse/datatools/modelbase/sql/constraints.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEForeignKeyDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="ForeignKey"
                package="http:///org/eclipse/datatools/modelbase/sql/constraints.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEForeignKeyDeltaDdlGenProvider"
                version="15.x"/>
			<deltaDdlGenService
                class="SybaseASEUserDefinedType"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEUserDefinedTypeDeltaDdlGenProvider"
                version="12.x"/>
           <deltaDdlGenService
                class="SybaseASEDefault"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEDefaultDeltaDdlGenProvider"
                version="12.x"/>
			<deltaDdlGenService
                class="SybaseASERule"
                package="http:///org/eclipse/datatools/connectivity/sqm/sybase/ase/sybaseasesqlmodel.ecore"
                product="Sybase_ASE"
                provider="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASERuleDeltaDdlGenProvider"
                version="12.x"/>    
    </extension>
	<extension
         point="org.eclipse.datatools.connectivity.sqm.core.ddlGeneration">
      <delta
            class="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEDeltaDdlGeneration"
            product="Sybase_ASE"
            version="12.x"/>
      <delta
            class="org.eclipse.datatools.enablement.ase.deltaddl.SybaseASEDeltaDdlGeneration"
            product="Sybase_ASE"
            version="15.x"/>
    </extension>
    
       
    <extension
         point="org.eclipse.datatools.connectivity.driverExtension">     
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.sybase.ase.genericDriverTemplate_12"
            jarList="jconn3.jar"
            name="%ase12.driver.template"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.12x"
            valuesProvider="org.eclipse.datatools.enablement.ase.ASEDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value="com.sybase.jdbc3.jdbc.SybDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="Sybase_ASE"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="12.x"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="master"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:sybase:Tds:host:port/database"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value="sa"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  value=""
                  required="false"
                  visible="true"/>
  			<property 
  				name="host" 
  				value="localhost"
  				visible="true" 
  				id="org.eclipse.datatools.enablement.sybase.host" /> 
			<property 
				name="port" 
				value="5000" 
				visible="true" 
				id="org.eclipse.datatools.enablement.sybase.port" /> 
		  <property 
		  			name="connectionProps" 
		  			value="DYNAMIC_PREPARE=true,JCONNECT_VERSION=0" 
		  			visible="false" 
		  			id="org.eclipse.datatools.connectivity.db.connectionProperties" /> 
		  <property 
		  			name="catalog" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.catalog" /> 
		  <property 
		  			name="schema" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.schema" /> 
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.sybase.ase.genericDriverTemplate_15"
            jarList="jconn3.jar"
            name="%ase15.driver.template"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.15x"
            valuesProvider="org.eclipse.datatools.enablement.ase.ASEDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value="com.sybase.jdbc3.jdbc.SybDriver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="Sybase_ASE"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="15.x"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="master"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:sybase:Tds:host:port/database"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value="sa"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  value=""
                  required="false"
                  visible="true"/>
  			<property 
  				name="host" 
  				value="localhost"
  				visible="true" 
  				id="org.eclipse.datatools.enablement.sybase.host" /> 
			<property 
				name="port" 
				value="5000" 
				visible="true" 
				id="org.eclipse.datatools.enablement.sybase.port" /> 
		  <property 
		  			name="connectionProps" 
		  			value="DYNAMIC_PREPARE=true,JCONNECT_VERSION=0" 
		  			visible="false" 
		  			id="org.eclipse.datatools.connectivity.db.connectionProperties" /> 
		  <property 
		  			name="catalog" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.catalog" /> 
		  <property 
		  			name="schema" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.schema" /> 
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.sybase.ase.genericDriverTemplate_12_xa"
            jarList="jconn3.jar"
            name="%ase12.xa.driver.template"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.12x"
            valuesProvider="org.eclipse.datatools.enablement.ase.ASEDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value="com.sybase.jdbc3.jdbc.SybXADataSource"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="Sybase_ASE"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="12.x"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="master"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:sybase:Tds:host:port/database"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value="sa"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  value=""
                  required="false"
                  visible="true"/>
  			<property 
  				name="host" 
  				value="localhost"
  				visible="true" 
  				id="org.eclipse.datatools.enablement.sybase.host" /> 
			<property 
				name="port" 
				value="5000" 
				visible="true" 
				id="org.eclipse.datatools.enablement.sybase.port" /> 
		  <property 
		  			name="connectionProps" 
		  			value="DYNAMIC_PREPARE=true,JCONNECT_VERSION=0" 
		  			visible="false" 
		  			id="org.eclipse.datatools.connectivity.db.connectionProperties" /> 
		  <property 
		  			name="catalog" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.catalog" /> 
		  <property 
		  			name="schema" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.schema" /> 
            <property
            	name="xaConnectClass"
            	value="com.sybase.jdbc3.jdbc.SybConnectionPoolDataSource"
            	visible="false"
            	id="com.sybase.stf.servers.jdbc.sybase.ase.xaConnectClass">
            </property>
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.connectivity.db.sybase.ase.genericDriverTemplate_15_xa"
            jarList="jconn3.jar"
            name="%ase15.xa.driver.template"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.15x"
            valuesProvider="org.eclipse.datatools.enablement.ase.ASEDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="Driver Class"
                  value="com.sybase.jdbc3.jdbc.SybXADataSource"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="Vendor"
                  value="Sybase_ASE"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="Version"
                  value="15.x"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="Database Name"
                  value="master"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="Connection URL"
                  value="jdbc:sybase:Tds:host:port/database"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="User ID"
                  value="sa"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="Password"
                  value=""
                  required="false"
                  visible="true"/>
  			<property 
  				name="host" 
  				value="localhost"
  				visible="true" 
  				id="org.eclipse.datatools.enablement.sybase.host" /> 
			<property 
				name="port" 
				value="5000" 
				visible="true" 
				id="org.eclipse.datatools.enablement.sybase.port" /> 
		  <property 
		  			name="connectionProps" 
		  			value="DYNAMIC_PREPARE=true,JCONNECT_VERSION=0" 
		  			visible="false" 
		  			id="org.eclipse.datatools.connectivity.db.connectionProperties" /> 
		  <property 
		  			name="catalog" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.catalog" /> 
		  <property 
		  			name="schema" 
		  			value="%" 
		  			visible="false" 
		  			id="org.eclipse.datatools.enablement.sybase.schema" /> 
            <property
            	name="xaConnectClass"
            	value="com.sybase.jdbc3.jdbc.SybConnectionPoolDataSource"
            	visible="false"
            	id="com.sybase.stf.servers.jdbc.sybase.ase.xaConnectClass">
            </property>
         </properties>
      </driverTemplate>
      <category
            id="org.eclipse.datatools.enablement.sybase.ase.12x"
            name="%12.xVersionString"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.category"/>
      <category
            id="org.eclipse.datatools.enablement.sybase.ase.category"
            name="%ase.category"
            parentCategory="org.eclipse.datatools.enablement.sybase"/>
      <category
            id="org.eclipse.datatools.enablement.sybase.ase.15x"
            name="%15.xVersionString"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.category"/>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.sybase.ase.12_x.other.driverTemplate"
            name="%org.eclipse.datatools.enablement.sybase.ase.12_x.other.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.12x">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  required="true"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  required="true"
                  value="Sybase_ASE"
                  visible="false">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  required="true"
                  value="12.x"
                  visible="false">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  required="true"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  required="true"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  required="false"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true">
            </property>
         </properties>
      </driverTemplate>
      <driverTemplate
            createDefault="false"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.sybase.ase.15_0.other.driverTemplate"
            name="%org.eclipse.datatools.enablement.sybase.ase.15_0.other.driverTemplate"
            parentCategory="org.eclipse.datatools.enablement.sybase.ase.15x">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  required="true"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  required="true"
                  value="Sybase_ASE"
                  visible="false">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  required="true"
                  value="15.x"
                  visible="false">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  required="true"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  required="true"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  required="false"
                  visible="true">
            </property>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true">
            </property>
         </properties>
      </driverTemplate>
   </extension>
    <extension
          id="com.sybase.stf.dmp.ase.dbConfiguration"
          name="ASE Support"
          point="org.eclipse.datatools.sqltools.editor.core.dbConfigurations">
       <dbConfiguration
             configurationClass="org.eclipse.datatools.enablement.ase.ASEConfig"
             product="Sybase_ASE"
             version="15.x">
       </dbConfiguration>
       <dbConfiguration
             configurationClass="org.eclipse.datatools.enablement.ase.ASEConfig"
             product="Sybase_ASE"
             version="12.x">
       </dbConfiguration>
    </extension> 
 </plugin>  
