<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="labelService" name="%LABEL_SERVICE_EXTENSION_POINT_NAME" schema="schema/labelService.exsd"/>
   <extension-point id="elementID" name="%ELEMENT_ID_EXTENSION_POINT_NAME" schema="schema/elementID.exsd"/>
   <extension-point id="markerNavigationProvider" name="%MARKER_NAVIGATION_PROVIDER_EXTENSION_POINT_NAME" schema="schema/markerNavigationProvider.exsd"/>
   <extension-point id="sorterValidatorProvider" name="%DATA_SOURCE_EXPLORER_SORTER" schema="schema/sorterValidatorProvider.exsd"/>
   <extension-point id="filterInformation" name="%FILTER_INFORMATION_EXTENSION_POINT_NAME" schema="schema/filterInformation.exsd"/>
   <extension-point id="creationInfoProvider" name="Creation Info Provider" schema="schema/creationInfoProvider.exsd"/>
   <extension-point id="addObjectProvider" name="Add Object Provider" schema="schema/addObjectProvider.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <!-- SQL Development Node -->
      <!-- Moved to org.eclipse.datatools.sqltools.common.ui 
      <page
            name="%datatools.core.ui.preferences.data"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.PreferencePage"
            id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.data"
            category="org.eclipse.datatools.connectivity.ui.preferences.dataNode">            
      </page>      -->
   	  <!-- Preference page for Label Decorations -->
      <page
            name="%datatools.core.ui.preferences.labeldecorators"
            category="org.eclipse.datatools.connectivity.ui.preferences.dataNode"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.LabelDecoratorPreference"
            id="org.eclipse.datatools.connectivity.sqm.core.ui.preferences.labelDecorations">
      </page>
	  <!-- Preference page for Output
      <page
      		name="%datatools.core.ui.preferences.output"
      		category="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.data"
      		class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.OutputPreference"
      		id="org.eclipse.datatools.connectivity.sqm.core.ui.preferences.output">
     </page>
      -->
	</extension>

<!-- Decoration of the Explorer - lightweight Decoration -->
   <extension
         id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.modelexplorer.decorator"
         name="%org.eclipse.datatools.connectivity.sqm.core.internal.ui.modelexplorer.decorator"
         point="org.eclipse.ui.decorators">
<!-- Decoration for the Dependencies -->
	  <decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.DependencyDecoration"
            state="true"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.decorators.impl.DependencyDecorationService"
            id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.DependencyDecoration">
         <enablement>
	            <objectClass
	                  name="org.eclipse.datatools.modelbase.sql.schema.Dependency">
	            </objectClass>
         </enablement>
	  </decorator>
<!-- Decoration for Column -->
      <decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.modelExplorerColumnDecoration"
            state="true"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.decorators.impl.ColumnDecorationService"
            id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.ColumnDecoration">
         <enablement>
	            <objectClass
	                  name="org.eclipse.datatools.modelbase.sql.tables.Column">
	            </objectClass>
         </enablement>
      </decorator>
<!-- Foreign Key Decoration -->
      <decorator
            lightweight="true"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.modelExplorerForeignKeyDecoration"
            state="true"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.decorators.impl.ForeignKeyDecorationService"
            id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.ForeignKeyDecoration">
         <enablement>
	            <objectClass
	            	  name="org.eclipse.datatools.modelbase.sql.constraints.ForeignKey">
	            </objectClass>
         </enablement>
      </decorator>
<!-- Trigger Decoration -->
      <decorator
            lightweight="true"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.indextriggerDecoration"
            state="true"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.decorators.impl.IndexTriggerDecorationService"
            id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.IndexTriggerDecoration">
         <enablement>
	            <objectClass
	            	  name="org.eclipse.datatools.modelbase.sql.tables.Trigger">
	            </objectClass>
         </enablement>
      </decorator>
<!-- Decorator for the Bookmark -->
	  <decorator
            lightweight="true"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.bookmarkDecoration"
            state="true"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.decorators.impl.BookmarkDecorationService"
            id="org.eclipse.datatools.connectivity.internal.core.ui.bookmarkDecoration">
         <enablement>
            <or> 
	            <objectClass
	                  name="org.eclipse.datatools.modelbase.sql.schema.SQLObject">
	            </objectClass>
	            <objectClass
	                  name="org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode">
	            </objectClass>
	        </or>
         </enablement>
      </decorator>
      
<!-- Decoration for the Filtering on IVirtualNode -->
	  <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="false"
            label="%datatools.core.ui.modelexplorer.filterDecoration"
            state="true"
            class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.decorators.impl.FilterNodeDecorationService"
            id="org.eclipse.datatools.connectivity.internal.core.ui.FilterNodeDecoration">
         <enablement>
	            <objectClass
	                  name="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.IFilterNode">
	            </objectClass>
         </enablement>
	  </decorator>
   </extension>

<!-- Support for Bookmark in the Explorers -->
   <extension
         id="explorerBookmark"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension 
   		id="persistentBookmark" point="org.eclipse.core.resources.markers">
      	<super 
      		type="org.eclipse.datatools.connectivity.sqm.core.ui.explorerBookmark">
      	</super>
      	<super 
      		type="org.eclipse.core.resources.bookmark">
      	</super>
      	<persistent value="true">
      	</persistent>
      	<attribute
      		name="elementId">
     	</attribute>
   </extension>
   <extension 
   		id="transientBookmark" point="org.eclipse.core.resources.markers">
      	<super 
      		type="org.eclipse.datatools.connectivity.sqm.core.ui.explorerBookmark">
      	</super>
      	<super 
      		type="org.eclipse.core.resources.bookmark">
      	</super>
      	<persistent value="false">
      	</persistent>
      	<attribute
      		name="elementId">
     	</attribute>
      	<attribute
      		name="connectionName">
     	</attribute>
   </extension>

<!-- Label Providers -->
	<extension point = "org.eclipse.datatools.connectivity.sqm.core.ui.labelService">
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.schema.Database"
			iconLocation = "/icons/database.gif"
			displayType = "%database">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.schema.Schema"
			iconLocation = "/icons/schema.gif"
			displayType = "%schema">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.tables.BaseTable"
			iconLocation = "/icons/table.gif"
			displayType = "%baseTable">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.tables.Column"
			iconLocation = "/icons/columns.gif"
			displayType = "%column">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.datatypes.Domain"
			iconLocation = "/icons/domain.gif"
			displayType = "%domain">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.datatypes.UserDefinedType"
			iconLocation = "/icons/udt.gif"
			displayType = "%udt">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.constraints.Index"
			iconLocation = "/icons/index.gif"
			displayType = "%index">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.routines.Procedure"
			iconLocation = "/icons/stored_procedure.gif"
			displayType = "%procedure">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.tables.ViewTable"
			iconLocation = "/icons/view.gif"
			displayType = "%view">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.tables.Table"
			iconLocation = "/icons/table.gif"
			displayType = "%baseTable">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.routines.Parameter"
			iconLocation = "/icons/parameter.gif"
			displayType = "%parameter">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.tables.Trigger"
			iconLocation = "/icons/trigger.gif"
			displayType = "%trigger">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.schema.Sequence"
			iconLocation = "/icons/sequence.gif"
			displayType = "%sequence">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.routines.Source"
			iconLocation = "/icons/sample.gif"
			displayType = "%source">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.constraints.CheckConstraint"
			iconLocation = "/icons/constraint.gif"
			displayType = "%CheckConstraint">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.constraints.UniqueConstraint"
			iconLocation = "/icons/constraint.gif"
			displayType = "%UniqueConstraint">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.datatypes.AttributeDefinition"
			iconLocation = "/icons/sample.gif"
			displayType = "%attributeDefinition">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.routines.Function"
			iconLocation = "/icons/udf.gif"
			displayType = "%function">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.schema.Dependency"
			iconLocation = "/icons/dependency.gif"
			displayType = "%dependency">
		</contributor>
		<contributor
			type= "org.eclipse.datatools.modelbase.sql.constraints.PrimaryKey"
			iconLocation = "/icons/primaryKey.gif"
			displayType = "%primaryKey">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.constraints.ForeignKey"
			iconLocation = "/icons/fk.gif"
			displayType = "%foreignKey">
		</contributor>
		<contributor
			type= "org.eclipse.datatools.modelbase.sql.accesscontrol.User"
			selector = "org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.label.UserSelector"
			iconLocation = "/icons/user.gif"
			displayType = "%user">
		</contributor>
		<contributor
			type= "org.eclipse.datatools.modelbase.sql.accesscontrol.User"
			selector = "org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.providers.label.AuthorizationSelector"
			iconLocation = "/icons/user.gif"
			displayType = "%authorization">
		</contributor>
		<contributor
			type= "org.eclipse.datatools.modelbase.sql.accesscontrol.Group"
			iconLocation = "/icons/group.gif"
			displayType = "%group">
		</contributor>
		<contributor
			type= "org.eclipse.datatools.modelbase.sql.accesscontrol.Role"
			iconLocation = "/icons/role.gif"
			displayType = "%role">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode"
			iconLocation = "/icons/closedFolder.gif"
			displayType = "%folder">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IDependencyNode"
			iconLocation = "/icons/dependencyFolder.gif"
			displayType = "%folder">
		</contributor>
		<contributor
			type = "org.eclipse.datatools.modelbase.sql.schema.Catalog"
			iconLocation = "/icons/database.gif"
			displayType = "%catalog">
		</contributor>
	</extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.SchemaFilterPropertyPage"
          id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.SchemaFilterPropertyPage"
          name="%DEFAULT_SCHEMA_FILTER_PROPERTY_PAGE_NAME">
      <filter
            name="org.eclipse.datatools.connectivity.profile.property.factoryID"
            value="org.eclipse.datatools.connectivity.sqm.core.connection.ConnectionInfo"/>
      <filter
            name="org.eclipse.datatools.connectivity.profile.property.categoryID"
            value="org.eclipse.datatools.connectivity.db.category"/>
      <enabledWhen>
         <instanceof
               value="org.eclipse.datatools.connectivity.IConnectionProfile">
         </instanceof>
      </enabledWhen>
    </page>
    <page
          class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.DefaultTableFilterPropertyPage"
          id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.DefaultTableFilterPropertyPage"
          name="%DEFAULT_TABLE_FILTER_PROPERTY_PAGE_NAME">
      <filter
            name="org.eclipse.datatools.connectivity.profile.property.factoryID"
            value="org.eclipse.datatools.connectivity.sqm.core.connection.ConnectionInfo"/>
      <filter
            name="org.eclipse.datatools.connectivity.profile.property.categoryID"
            value="org.eclipse.datatools.connectivity.db.category"/>
      <enabledWhen>
         <instanceof
               value="org.eclipse.datatools.connectivity.IConnectionProfile">
         </instanceof>
      </enabledWhen>
    </page>
    <page
          class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.DefaultSPFilterPropertyPage"
          id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.DefaultSPFilterPropertyPage"
          name="%DEFAULT_STORED_PROCEDURE_FILTER_PROPERTY_PAGE_NAME">
      <filter
            name="org.eclipse.datatools.connectivity.profile.property.factoryID"
            value="org.eclipse.datatools.connectivity.sqm.core.connection.ConnectionInfo"/>
      <filter
            name="org.eclipse.datatools.connectivity.profile.property.categoryID"
            value="org.eclipse.datatools.connectivity.db.category"/>
      <enabledWhen>
         <instanceof
               value="org.eclipse.datatools.connectivity.IConnectionProfile">
         </instanceof>
      </enabledWhen>
    </page>
    <page
          class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.FilterNodeFilterPropertyPage"
          id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.FilterNodeFilterPropertyPage"
          name="%FILTER_SETTINGS_PROPERTY_PAGE_NAME">
       <enabledWhen>
          <instanceof
                value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.IFilterNode">
          </instanceof>
       </enabledWhen>
    </page>
 </extension>
</plugin>
