<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="driverPropertyEditor" name="Driver Property Editor" schema="schema/driverPropertyEditor.exsd"/>
   <extension-point id="driverUIContributor" name="Driver UI Contributor" schema="schema/driverUIContributor.exsd"/>
   <extension-point id="connectionProfileImage" name="Connection Profile Image" schema="schema/connectionProfileImage.exsd"/>
   <extension-point id="addConnectListener" name="%extension-point.name.addConnectListener" schema="schema/addConnectListener.exsd"/>   
   <extension-point id="connectionExceptionHandler" name="Connection Exception Handler" schema="schema/connectionExceptionHandler.exsd"/>
    
   <extension point="org.eclipse.ui.preferencePages">
   	<page name="%datatools.preference.page.name" class="org.eclipse.datatools.connectivity.internal.ui.preferences.DataToolsMainPage"
   	id = "org.eclipse.datatools.connectivity.internal.ui.preferences.DataToolsMainPage"
   	category="org.eclipse.datatools.connectivity.ui.preferences.dataNode"/>
   	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%drivers.preference.page.name"
            class="org.eclipse.datatools.connectivity.internal.ui.preferences.DriverPreferences"
            id="org.eclipse.datatools.connectivity.internal.ui.preferences.DriverPreferences"
            category="org.eclipse.datatools.connectivity.internal.ui.preferences.DataToolsMainPage">
      </page>
      <!-- Data Tooling Node -->
      <page
            name="%datatools.core.ui.preferences.data.node"
            class="org.eclipse.datatools.connectivity.ui.DataPreferencePage"
            id="org.eclipse.datatools.connectivity.ui.preferences.dataNode">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%Extension.PropertyPage.General.Name"
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.CPPropetyPage"
            id="org.eclipse.datatools.connectivity.internal.ui.properties.ProfileGeneralPropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.CPVersionPropertyPage"
            name="%Extension.PropertyPage.Version.Name"
            id="org.eclipse.datatools.connectivity.internal.ui.properties.ProfileVersionPropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="profileFailure"
         name="%ProfileFailure"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.datatools.connectivity.internal.ui.wizards"
         name="New Connection Profile Wizard"
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%Extension.NewWizard.Name"
            icon="icons/connection1_newwiz.gif"
            category="org.eclipse.datatools.connectivity"
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.NewCPWizard"
            id="org.eclipse.datatools.connectivity.internal.ui.wizards.newconnectionprofile">
         <description>
            %Extension.NewWizard.Description
         </description>
      </wizard>
      <category
            id="org.eclipse.datatools.connectivity"
            name="%category.name.connectionProfiles"/>
      <wizard
            category="org.eclipse.datatools.connectivity"
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.NewRepositoryWizard"
            icon="icons/new_repository_action.gif"
            id="org.eclipse.datatools.connectivity.ui.wizard.newrepositorywizard"
            name="%Extension.NewRepositoryWizard.Name">
         <description>
            %Extension.NewRepositoryWizard.Description
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.datatools.connectivity.internal.ui.ConnectionProfileActionFilter"
            id="org.eclipse.datatools.connectivity.ui"
            namespace="org.eclipse.datatools.connectivity.profile.property"
            properties="factoryID,isConnected,maintainConnection,supportsPing,hasExtendedProperties,id,extensionID,categoryID,containingViewID,connectionState,dbVendor,dbVersion,repositoryIsReadOnly,canWorkOffline"
            type="org.eclipse.datatools.connectivity.IConnectionProfile"/>
      <propertyTester
            class="org.eclipse.datatools.connectivity.internal.ui.CategoryActionFilter"
            id="org.eclipse.datatools.connectivity.ui.category"
            namespace="org.eclipse.datatools.connectivity.category.property"
            properties="categoryID,repositoryIsReadOnly"
            type="org.eclipse.datatools.connectivity.ICategory">
      </propertyTester>
      <propertyTester
            class="org.eclipse.datatools.connectivity.internal.ui.WorkbenchWindowPerspectiveActionFilter"
            id="org.eclipse.datatools.connectivity.ui.workbench.window.perspective"
            namespace="org.eclipse.datatools.connectivity.workbench.window.perspective.property"
            properties="perspectiveID"
            type="org.eclipse.ui.IWorkbenchWindow">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.datatools.connectivity.internal.ui.CPRepositoryContentProviderExtension"
            id="org.eclipse.datatools.connectivity.repositoryContent"
            labelProvider="org.eclipse.datatools.connectivity.internal.ui.CPRepositoryLabelProviderExtension"
            name="%CP.content">
         <triggerPoints>
            <or>
	            <and>
                     <instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
				     <test
						property="org.eclipse.datatools.connectivity.profile.property.factoryID"
	                     value="org.eclipse.datatools.connectivity.internal.repository.IConnectionProfileRepository"/>
	            </and>
               <instanceof
	                     value="org.eclipse.datatools.connectivity.internal.repository.IConnectionProfileRepository">
               </instanceof>
               <instanceof
                     value="org.eclipse.datatools.connectivity.internal.ui.CPRepositoryContentExtension">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
	                     value="org.eclipse.datatools.connectivity.internal.repository.IConnectionProfileRepository">
               </instanceof>
               <instanceof
                     value="org.eclipse.datatools.connectivity.internal.ui.CPRepositoryContentExtension">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.datatools.connectivity.ui.actions.WorkOfflineActionProvider"
            id="org.eclipse.datatools.connectivity.internal.ui.actions.WorkOfflineActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.eclipse.datatools.connectivity.IConnectionProfile">
                  </instanceof>
                  <test
                        property="org.eclipse.datatools.connectivity.profile.property.canWorkOffline"
                        value="true">
                  </test>
               </and>
         	</enablement>
      </actionProvider>
   </extension>
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <navigatorContent
               contentProvider="org.eclipse.datatools.connectivity.ui.navigator.ConnectionProfileContentProvider"
               icon="icons/full/cview16/enterprise_explorer.gif"
               id="org.eclipse.datatools.connectivity.dsexplorer.content"
               labelProvider="org.eclipse.datatools.connectivity.ui.navigator.ConnectionProfileLabelProvider"
               name="%DSE.content"
               priority="high">
            <actionProvider
                  class="org.eclipse.datatools.connectivity.ui.navigator.actions.ProfileActionsActionProvider"
                  id="org.eclipse.datatools.connectivity.ui.dse.actions.ProfileActionsActionProvider">
               <enablement>
                  <or>
                     <instanceof
                           value="org.eclipse.datatools.connectivity.ICategory">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.datatools.connectivity.IConnectionProfile">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode">
                     </instanceof>
                  </or>
               </enablement>
            </actionProvider>
            <commonSorter
                  class="org.eclipse.datatools.connectivity.ui.navigator.ConnectionProfileSorter"
                  id="org.eclipse.datatools.connectivity.ui.dse.commonSorter">
            </commonSorter>
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.datatools.connectivity.ICategory">
                  </adapt>
                  <adapt
                        type="org.eclipse.datatools.connectivity.IConnectionProfile">
                  </adapt>
                  <adapt
                        type="org.eclipse.datatools.connectivity.ProfileManager">
                  </adapt>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
               </or>
            </enablement>
         </navigatorContent>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <actionProvider
               class="org.eclipse.datatools.connectivity.ui.navigator.actions.RefreshActionProvider"
               id="org.eclipse.datatools.connectivity.ui.dse.actions.RefreshActionProvider">
            <enablement>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </enablement>
         </actionProvider>
      </extension>
      <extension
            id="driverProblem"
            name="%driverProblem"
            point="org.eclipse.core.resources.markers">
         <super
               type="org.eclipse.core.resources.problemmarker">
         </super>
         <persistent
               value="true">
         </persistent>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               description="%AddProfile.command.description"
               id="org.eclipse.datatools.connectivity.commands.addprofile"
               name="%AddProfile.command.label">
            <commandParameter
                  id="org.eclipse.datatools.connectivity.ui.ignoreCategory"
                  name="ignoreCategory"
                  optional="true">
            </commandParameter>
            <commandParameter
                  id="org.eclipse.datatools.connectivity.ui.useSelection"
                  name="useSelection"
                  optional="true">
            </commandParameter>
         </command>
         <command
               defaultHandler="org.eclipse.datatools.connectivity.ui.actions.AddRepositoryViewAction"
               description="%AddRepositoryProfile.command.description"
               id="org.eclipse.datatools.connectivity.commands.addrepository"
               name="%AddRepositoryProfile.command.label">
         </command>
         <command
               defaultHandler="org.eclipse.datatools.connectivity.ui.actions.ExportProfileViewAction"
               description="%ExportProfile.command.description"
               id="org.eclipse.datatools.connectivity.commands.export"
               name="%ExportProfile.command.label">
         </command>
         <command
               defaultHandler="org.eclipse.datatools.connectivity.ui.actions.ImportProfileViewAction"
               description="%ImportProfile.command.description"
               id="org.eclipse.datatools.connectivity.commands.import"
               name="%ImportProfile.command.label">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="org.eclipse.datatools.connectivity.ui.actions.AddProfileViewAction"
               commandId="org.eclipse.datatools.connectivity.commands.addprofile">
            <enabledWhen>
               <or>
                  <with
                        variable="selection">
                     <count
                           value="0">
                     </count>
                  </with>
                  <with
                        variable="selection">
                     <count
                           value="+">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.datatools.connectivity.internal.ui.LocalRepositoryNode">
                        </instanceof>
                     </iterate>
                  </with>
                  <not>
                     <and>
                        <count
                              value="+">
                        </count>
                        <or>
                           <with
                                 variable="selection">
                              <iterate>
                                 <instanceof
                                       value="org.eclipse.datatools.connectivity.IConnectionProfile">
                                 </instanceof>
                                 <test
                                       property="org.eclipse.datatools.connectivity.profile.property.repositoryIsReadOnly"
                                       value="true">
                                 </test>
                              </iterate>
                           </with>
                           <with
                                 variable="selection">
                              <iterate>
                                 <instanceof
                                       value="org.eclipse.datatools.connectivity.ICategory">
                                 </instanceof>
                                 <test
                                       property="org.eclipse.datatools.connectivity.category.property.repositoryIsReadOnly"
                                       value="true">
                                 </test>
                              </iterate>
                           </with>
                           <with
                                 variable="selection">
                              <iterate>
                                 <instanceof
                                       value="org.eclipse.datatools.connectivity.internal.repository.IConnectionProfileRepository">
                                 </instanceof>
                                 <test
                                       property="org.eclipse.datatools.connectivity.repository.property.repositoryIsReadOnly"
                                       value="true">
                                 </test>
                              </iterate>
                           </with>
                        </or>
                     </and>
                  </not>
               </or>
            </enabledWhen>
         </handler>
      </extension>

</plugin>
