<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
   	<page name="%datatools.preference.page.name" class="org.eclipse.datatools.connectivity.internal.ui.preferences.DataToolsMainPage"
   	id = "org.eclipse.datatools.connectivity.internal.ui.preferences.DataToolsMainPage"/>
   	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%drivers.preference.page.name"
            class="org.eclipse.datatools.connectivity.internal.ui.preferences.DriverPreferences"
            id="org.eclipse.datatools.connectivity.internal.ui.preferences.DriverPreferences"
            category="org.eclipse.datatools.connectivity.internal.ui.preferences.DataToolsMainPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile"
            name="%Extension.PropertyPage.General.Name"
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.CPPropetyPage"
            id="org.eclipse.datatools.connectivity.internal.ui.properties.ProfileGeneralPropertyPage">
      </page>
      <page
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile"
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.CPVersionPropertyPage"
            name="%Extension.PropertyPage.Version.Name"
            id="org.eclipse.datatools.connectivity.internal.ui.properties.ProfileVersionPropertyPage">
      </page>
   </extension>
   <extension
         id="profileFailure"
         name="%ProfileFailure"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.datatools.connectivity.internal.ui.wizards"
         name="New Connection Profile Wizard"
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%Extension.NewWizard.Name"
            icon="icons/connection1_newwiz.gif"
            category="org.eclipse.datatools.connectivity"
            class="org.eclipse.datatools.connectivity.internal.ui.wizards.NewCPWizard"
            id="org.eclipse.datatools.connectivity.internal.ui.wizards.newconnectionprofile">
         <description>
            %Extension.NewWizard.Description
         </description>
      </wizard>
      <category
            id="org.eclipse.datatools.connectivity"
            name="%category.name.connectionProfiles"/>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.datatools.connectivity.internal.ui.ConnectionProfileActionFilter"
            id="org.eclipse.datatools.connectivity.ui"
            namespace="org.eclipse.datatools.connectivity.profile.property"
            properties="factoryID,isConnected,maintainConnection,supportsPing,hasExtendedProperties,id,extensionID,categoryID,containingViewID"
            type="org.eclipse.datatools.connectivity.IConnectionProfile"/>
   </extension>
</plugin>
