<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.datatools.connectivity.sqm.server.ui"
   name="%pluginName"
   version="0.7.0"
   provider-name="%providerName"
   class="org.eclipse.datatools.connectivity.sqm.server.internal.ui.ServerUIPlugin">

   <runtime>
      <library name="rdb.server.ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
<!-- Eclipse dependencies -->
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui"/>
      
<!-- RDB Dependencies -->
	  <import plugin="org.eclipse.datatools.modelbase.sql"/>
      <import plugin="org.eclipse.datatools.connectivity.sqm.core"/>
      <import plugin="org.eclipse.datatools.connectivity.sqm.core.ui"/>
      <import plugin="org.eclipse.datatools.modelbase.dbdefinition"/>
      <import plugin="org.eclipse.datatools.connectivity"/>
      <import plugin="org.eclipse.datatools.connectivity.ui"/>
      <import plugin="org.eclipse.ui.navigator"/>
      <import plugin="com.ibm.icu"/>
   </requires>

      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <navigatorContent
               contentProvider="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentProviderExtension"
               id="org.eclipse.datatools.connectivity.db.sqlModelContent"
               labelProvider="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelLabelProviderExtension"
               name="SQL Model Content Extension">
            <actionProvider
            		id="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentActionProvider"
            		class="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentActionProvider">
            <enablement>
               <instanceof value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.IFilterNode"/>
            </enablement>
            </actionProvider>
            <triggerPoints>
                  <and>
                     <instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
				     <test
						property="org.eclipse.datatools.connectivity.profile.property.factoryID"
						value="org.eclipse.datatools.connectivity.sqm.internal.core.connection.ConnectionInfo"/>
                  </and>
            </triggerPoints>
            <possibleChildren>
               <or>
                  <instanceof value="org.eclipse.datatools.modelbase.sql.schema.SQLObject"/>
                  <instanceof value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.virtual.IVirtualNode"/>
                  <instanceof value="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentExtension"/>
               </or>
            </possibleChildren>
         </navigatorContent>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
            <includes>
               <contentExtension pattern="org.eclipse.datatools.connectivity.db.sqlModelContent"/>
            </includes>
         </viewerContentBinding>
      </extension>  


</plugin>
