<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="org.eclipse.datatools.connectivity.sample.ftp.category"
            name="FTP"/>
      <connectionProfile
            category="org.eclipse.datatools.connectivity.sample.ftp.category"
            icon="icons/file.gif"
            id="org.eclipse.datatools.connectivity.sample.ftp.profile"
            name="%ServerExtension.ConnectionProfile.name"
            pingFactory="org.eclipse.datatools.connectivity.sample.ftp.internal.FtpConnectionFactory"/>
      <connectionFactory
            name="%ServerExtension.ConnectionFactory.name"
            profile="org.eclipse.datatools.connectivity.sample.ftp.profile"
            class="org.eclipse.datatools.connectivity.sample.ftp.internal.FtpConnectionFactory"
            id="org.eclipse.datatools.connectivity.sample.ftp.profile.connectionFactory">
      </connectionFactory>
      <newWizard
            class="org.eclipse.datatools.connectivity.sample.ftp.wizards.FtpConnectionProfileWizard"
            description="%NewWizard.description"
            icon="icons/file.gif"
            id="org.eclipse.datatools.connectivity.sample.ftp.profile.wizards.ftpConnectionProfileWizard"
            name="%NewWizard.name"
            profile="org.eclipse.datatools.connectivity.sample.ftp.profile">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.datatools.connectivity.sample.ftp.internal.FTPContentProviderExtension"
            icon="icons/file.gif"
            id="org.eclipse.datatools.connectivity.sample.ftp.content"
            labelProvider="org.eclipse.datatools.connectivity.sample.ftp.internal.FTPLabelProviderExtension"
            name="%Navigator.extension.name"
            priority="normal">
         <enablement>
            <or>
	            <and>
                     <instanceof value="org.eclipse.datatools.connectivity.IConnectionProfile"/>
				     <test
						property="org.eclipse.datatools.connectivity.profile.property.id"
	                     value="org.eclipse.datatools.connectivity.sample.ftp.profile"/>
	            </and>
               <instanceof
	                     value="org.eclipse.datatools.connectivity.sample.ftp.internal.FTPClientObject">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
      <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerContentBinding viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
            <includes>
               <contentExtension pattern="org.eclipse.datatools.connectivity.sample.ftp.content"/>
            </includes>
         </viewerContentBinding>
      </extension>  
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.datatools.connectivity.sample.ftp.properties.FtpProfilePropertyPage"
            id="org.eclipse.datatools.connectivity.sample.ftp.profile.properties.ftpProfilePropertyPage"
            name="%PropertyPage.name"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="org.eclipse.datatools.connectivity.sample.ftp.profile">
         </filter>
      </page>
   </extension>
</plugin>
