<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         id="org.eclipse.datatools.connectivity.oda.consumer.testdriver"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            odaVersion="3.1"
            driverClass="org.eclipse.datatools.connectivity.oda.consumer.testdriver.TestDriverImpl"
            setThreadContextClassLoader="false"
            id="org.eclipse.datatools.connectivity.oda.consumer.testdriver"/>
      <dataSet id="org.eclipse.datatools.connectivity.oda.consumer.testdriver.dataSet">
         <dataTypeMapping
               nativeDataType="CHAR"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="DATE"
               nativeDataTypeCode="91"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="BCD"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"/>
         <dataTypeMapping
               nativeDataType="DOUBLE"
               nativeDataTypeCode="8"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="INT"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="TIME"
               nativeDataTypeCode="92"
               odaScalarDataType="Time"/>
         <dataTypeMapping
               nativeDataType="TIMESTAMP"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"/>
         <dataTypeMapping
               nativeDataType="BLOB"
               nativeDataTypeCode="97"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="CLOB"
               nativeDataTypeCode="98"
               odaScalarDataType="Clob"/>
         <dataTypeMapping
               nativeDataType="BOOLEAN"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"/>
      </dataSet>
   </extension>
     <extension
           id="filterExtension"
           point="org.eclipse.datatools.connectivity.oda.filterExpressions">
        <contributor
              testerClass="org.eclipse.datatools.connectivity.oda.consumer.testdriver.filter.impl.FilterExprTester">
         <supportedDataSetType
               odaDataSetId="org.eclipse.datatools.connectivity.oda.consumer.testdriver.dataSet"
               odaDataSourceId="org.eclipse.datatools.connectivity.oda.consumer.testdriver">
         </supportedDataSetType>
         <supportedDataSetType
               odaDataSetId="org.eclipse.datatools.connectivity.oda.consumer.testdriver.jdbc.dbprofile.sqbDataSet"
               odaDataSourceId="org.eclipse.datatools.connectivity.oda.consumer.testdriver.jdbc.dbprofile">
         </supportedDataSetType>
         <supportedOdaExpression
               name="AndExpression">
         </supportedOdaExpression>
         <supportedOdaExpression
               name="OrExpression">
         </supportedOdaExpression>
         <supportedOdaExpression
               name="NotExpression">
         </supportedOdaExpression>
        </contributor>
        <customExpression
              displayName="Equal to"
              id="0"
              isNegatable="true"
              isOptionable="true"
              maxArguments="*"
              minArguments="1">
        </customExpression>
        <customExpression
              displayName="Between"
              id="1001"
              isNegatable="true"
              isOptionable="true"
              maxArguments="2"
              minArguments="1">
           <variableRestriction
                 variableType="ResultSetColumn">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="String">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                  odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
            	  odaScalarDataType="Double">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Decimal">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Date">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Time">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Timestamp">
         	  </variableOdaDataTypeRestriction>
           </variableRestriction>
        </customExpression>
        <customExpression
              displayName="In"
              id="1003"
              isNegatable="true"
              isOptionable="true"
              maxArguments="*"
              minArguments="1">
        </customExpression>
        <customExpression
              displayName="IsNull"
              id="1005"
              isNegatable="true"
              isOptionable="false"
              maxArguments="0"
              minArguments="0">
        </customExpression>
        <customExpression
              displayName="IsInstanceOf"
              id="instanceOf"
              isNegatable="true"
              isOptionable="false"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="InstanceOf">
              <variableClassRestriction
                    class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.OrderItem">
              </variableClassRestriction>
           </variableRestriction>
        </customExpression>
     </extension>
   
</plugin>
