<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         id="org.eclipse.datatools.connectivity.oda.consumer.testdriver"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            odaVersion="3.1"
            driverClass="org.eclipse.datatools.connectivity.oda.consumer.testdriver.TestDriverImpl"
            setThreadContextClassLoader="false"
            id="org.eclipse.datatools.connectivity.oda.consumer.testdriver"/>
      <dataSet id="org.eclipse.datatools.connectivity.oda.consumer.testdriver.dataSet">
         <dataTypeMapping
               nativeDataType="CHAR"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="DATE"
               nativeDataTypeCode="91"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="BCD"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"/>
         <dataTypeMapping
               nativeDataType="DOUBLE"
               nativeDataTypeCode="8"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="INT"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="TIME"
               nativeDataTypeCode="92"
               odaScalarDataType="Time"/>
         <dataTypeMapping
               nativeDataType="TIMESTAMP"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"/>
         <dataTypeMapping
               nativeDataType="BLOB"
               nativeDataTypeCode="97"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="CLOB"
               nativeDataTypeCode="98"
               odaScalarDataType="Clob"/>
         <dataTypeMapping
               nativeDataType="BOOLEAN"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"/>
           <dataTypeMapping
                 nativeDataType="JAVAOBJECT"
                 nativeDataTypeCode="2000"
                 odaScalarDataType="JavaObject">
           </dataTypeMapping>
      </dataSet>

   </extension>
     <extension
           id="dynamicResultSetExtension"
           point="org.eclipse.datatools.connectivity.oda.dynamicResultSet">
        <contributor
              specificationFactoryClass="org.eclipse.datatools.connectivity.oda.consumer.testdriver.spec.impl.MySpecFactory"
              validatorClass="org.eclipse.datatools.connectivity.oda.consumer.testdriver.spec.impl.ExpressionTester">
         <supportedDataSetType
               odaDataSetId="org.eclipse.datatools.connectivity.oda.consumer.testdriver.dataSet"
               odaDataSourceId="org.eclipse.datatools.connectivity.oda.consumer.testdriver">
         </supportedDataSetType>
         <supportedDataSetType
               odaDataSetId="org.eclipse.datatools.connectivity.oda.consumer.testdriver.jdbc.dbprofile.sqbDataSet"
               odaDataSourceId="org.eclipse.datatools.connectivity.oda.consumer.testdriver.jdbc.dbprofile">
         </supportedDataSetType>
         <supportsRowOrdering></supportsRowOrdering>
        </contributor>
        <filterExpressionTypes>
         <filterType
              displayName="Equal to"
              id="0"
              isNegatable="true"
              isOptionable="true"
              maxArguments="*"
              minArguments="1">
        </filterType>
        <filterType
              class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.spec.impl.MyCustomExpression"
              displayName="Between"
              id="1001"
              isNegatable="true"
              isOptionable="true"
              maxArguments="2"
              minArguments="1">
           <variableRestriction
                 variableType="ResultSetColumn">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="String">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                  odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
            	  odaScalarDataType="Double">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Decimal">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Date">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Time">
         	  </variableOdaDataTypeRestriction>
         	  <variableOdaDataTypeRestriction
               	  odaScalarDataType="Timestamp">
         	  </variableOdaDataTypeRestriction>
           </variableRestriction>
        </filterType>
        <filterType
              displayName="In"
              id="1003"
              isNegatable="true"
              isOptionable="true"
              maxArguments="*"
              minArguments="1">
        </filterType>
        <filterType
              displayName="IsNull"
              id="1005"
              isNegatable="true"
              isOptionable="false"
              maxArguments="0"
              minArguments="0">
        </filterType>
        <filterType
              displayName="IsInstanceOf"
              id="instanceOf"
              isNegatable="true"
              isOptionable="false"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="InstanceOf">
              <variableClassRestriction
                    class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.OrderItem">
              </variableClassRestriction>
           </variableRestriction>
        </filterType>
        <filterType
              id="IdentityEq"
              isNegatable="false"
              isOptionable="false"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="ResultSetColumn">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="JavaObject">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </filterType>
        <supportedOdaFilterExpression
              name="AndExpression">
        </supportedOdaFilterExpression>
        <supportedOdaFilterExpression
              name="OrExpression">
        </supportedOdaFilterExpression>
        <supportedOdaFilterExpression
              name="NotExpression">
        </supportedOdaFilterExpression>
       </filterExpressionTypes>
       <aggregateExpressionTypes>
        <aggregateType
              canIgnoreDuplicates="false"
              canIgnoreNull="true"
              displayName="Minimum"
              id="MIN">
           <variableRestriction
                 variableType="ResultSetColumn">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Date">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </aggregateType>
        <aggregateType
              canIgnoreDuplicates="true"
              canIgnoreNull="true"
              id="COUNT"
              minInputVariables="0">
        </aggregateType>
        <aggregateType
              canIgnoreDuplicates="false"
              canIgnoreNull="true"
              displayName="Average"
              id="AVG">
           <variableRestriction
                 variableType="ResultSetColumn">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </aggregateType>
        <aggregateType
              canIgnoreDuplicates="false"
              canIgnoreNull="true"
              displayName="Weighted Average"
              id="WtAvg"
              maxInputVariables="2"
              minInputVariables="2">
           <variableRestriction
                 variableType="ResultSetColumn">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </aggregateType>
        <aggregateType
              canIgnoreDuplicates="true"
              canIgnoreNull="true"
              displayName="Standard Deviation"
              id="StdDev">
           <variableRestriction
                 variableType="InstanceOf">
              <variableClassRestriction
                    class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.Mortgage">
              </variableClassRestriction>
           </variableRestriction>
        </aggregateType>
       </aggregateExpressionTypes>
       <valueExpressionTypes
             supportsNestedExpressions="true">
	       <combinedOperatorTypes>
	          <supportedOdaCombinedOperator
	                id="Add">
	          </supportedOdaCombinedOperator>
           <supportedOdaCombinedOperator
                 id="Multiply">
           </supportedOdaCombinedOperator>
	          <supportedOdaCombinedOperator
	                class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.spec.impl.MyCombinedOperator"
	                id="Concatenate">
	          </supportedOdaCombinedOperator>
	          <combinedOperatorType
	                class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.spec.impl.MyCombinedOperator"
	                displayName="Dot"
	                id="org.eclipse.datatools.connectivity.oda.consumer.testdriver.combinedOperator.dot"
	                literal=".">
	          </combinedOperatorType>
	          <combinedOperatorType
	                displayName="At"
	                id="org.eclipse.datatools.connectivity.oda.consumer.testdriver.combinedOperator.at"
	                literal="@">
	          </combinedOperatorType>
	       </combinedOperatorTypes>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Round up to the next higher integer value"
              displayName="Ceiling(&lt;numerical expression&gt;)"
              id="CEIL"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Round down to the next least integer value"
              displayName="Floor(&lt;numerical expression&gt;)"
              id="FLOOR"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Returns the &lt;numeric_expression&gt; raised to the power of &lt;power&gt;"
              displayName="Power(&lt;numeric_expression&gt;,&lt;power&gt;)  "
              id="POWER"
              maxArguments="2"
              minArguments="2">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Returns the remainder of numeric_expression1 divided by numeric_expression2"
              displayName="Modulo(&lt;numeric_expression1&gt;,&lt;numeric_expression2&gt;)"
              id="MOD"
              maxArguments="2"
              minArguments="2">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Returns the square root of the positive numeric_expression"
              displayName="Sqrt(&lt;numeric_expression&gt;)  "
              id="SQRT">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Returns the absolute value of an numeric expression"
              displayName="Absolute(&lt;numeric expression&gt;)  "
              id="ABS"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Double">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Decimal">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Integer">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Converts all characters in a string into uppercase"
              displayName="Upper(&lt;string_expression&gt;)"
              id="UPPER"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="String">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Converts all characters in a string into lowercase"
              displayName="Lower(&lt;string_expression&gt;)"
              id="LOWER">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="String">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Returns the current date"
              displayName="Current Date"
              id="CURRENT_DATE"
              maxArguments="0"
              minArguments="0">
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              description="Returns an integer value for the month part of date_expression"
              displayName="Month(&lt;date_expression&gt;)"
              id="MONTH"
              maxArguments="1"
              minArguments="1">
           <variableRestriction
                 variableType="QueryExpression">
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Date">
              </variableOdaDataTypeRestriction>
              <variableOdaDataTypeRestriction
                    odaScalarDataType="Timestamp">
              </variableOdaDataTypeRestriction>
           </variableRestriction>
        </functionExpressionType>
        <functionExpressionType
              canIgnoreDuplicates="false"
              class="org.eclipse.datatools.connectivity.oda.consumer.testdriver.spec.impl.MyCustomFunction"
              description="Test custom class implementation"
              displayName="Custom Function"
              id="100"
              maxArguments="1"
              minArguments="1"
              name="CustomFunc">
        </functionExpressionType>
       </valueExpressionTypes>
     </extension>
   
</plugin>
