<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 *************************************************************************
 * Copyright (c) 2004, 2006 Actuate Corporation.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *  Actuate Corporation - initial API and implementation
 *  
 *************************************************************************
 *
 * $Id: plugin.xml,v 1.6 2006/03/10 00:43:11 lchan Exp $
 */
-->

<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            odaVersion="3.0"
            driverClass="org.eclipse.datatools.connectivity.oda.flatfile.FlatFileDriver"
            defaultDisplayName="%datasource.name"
            id="org.eclipse.datatools.connectivity.oda.flatfile"
            setThreadContextClassLoader="false">
         <properties>
         <propertyGroup
               defaultDisplayName="Connection Properties"
               name="connectionProperties">
            <property
                  type="string"
                  defaultDisplayName="%datasource.property.home"
                  canInherit="true"
                  name="HOME"/>
            <property
                  type="string"
                  defaultDisplayName="%datasource.property.charset"
                  canInherit="true"
                  name="CHARSET"/>
            <property
                  type="string"
                  canInherit="true"
                  defaultDisplayName="%datasource.property.incltypeline"
                  name="INCLTYPELINE"/>                 
         </propertyGroup>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%dataset.name"
            id="org.eclipse.datatools.connectivity.oda.flatfile.dataSet">
            <dataTypeMapping
                  nativeDataType="INT"
                  nativeDataTypeCode="4"
                  odaScalarDataType="Integer"/>
            <dataTypeMapping
                  nativeDataType="DOUBLE"
                  nativeDataTypeCode="8"
                  odaScalarDataType="Double"/>
            <dataTypeMapping
                  nativeDataType="STRING"
                  nativeDataTypeCode="12"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="DATE"
                  nativeDataTypeCode="91"
                  odaScalarDataType="Date"/>
            <dataTypeMapping
                  nativeDataType="TIME"
                  nativeDataTypeCode="92"
                  odaScalarDataType="Time"/>
            <dataTypeMapping
                  nativeDataType="TIMESTAMP"
                  nativeDataTypeCode="93"
                  odaScalarDataType="Timestamp"/>
            <dataTypeMapping
                  nativeDataType="BLOB"
                  nativeDataTypeCode="2004"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="CLOB"
                  nativeDataTypeCode="2005"
                  odaScalarDataType="String"/>
            <dataTypeMapping
                  nativeDataType="BIGDECIMAL"
                  nativeDataTypeCode="2"
                  odaScalarDataType="Decimal"/>
      </dataSet>
   </extension>
</plugin>
