<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 *************************************************************************
 * Copyright (c) 2006 Actuate Corporation.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *  Actuate Corporation - initial API and implementation
 *  
 *************************************************************************
 *
 * $Id: plugin.xml,v 1.13 2006/03/10 00:43:14 lchan Exp $
 */
-->

<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="%oda.data.source.id"
            name="%oda.data.source.name"
            parentCategory="%oda.parent.category.id"/>
      <configurationType id="org.eclipse.datatools.connectivity.oda.profile.dummyConfig"/>
      <connectionProfile
            category="%oda.data.source.id"
            configurationType="org.eclipse.datatools.connectivity.oda.profile.dummyConfig"
            icon="icons/file.gif"
            id="%oda.data.source.id"
            name="%connection.profile.name"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="%oda.connection.factory.name"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="%oda.data.source.id"/>
      <connectionFactory
            id="org.eclipse.datatools.connectivity.connectionFactory.pingFactory"
            name="%ping.factory.name"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            profile="%oda.data.source.id"/>
      <newWizard
            id="%oda.data.source.id"
            name="%newwizard.name"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="%newwizard.description"
            icon="icons/fieldlist.ico"
            profile="%oda.data.source.id"/>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="%oda.data.source.id"
            name="%profile.propertypage.name"
            class="org.eclipse.datatools.connectivity.oda.flatfile.ui.wizards.FolderPropertyPage"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI id="%oda.data.source.id">
         <newDataSourceWizard
               includesProgressMonitor="false"
               pageClass="org.eclipse.datatools.connectivity.oda.flatfile.ui.wizards.FolderSelectionWizardPage"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title"/>
      </dataSourceUI>
      <dataSetUI
            hasParameterDefinition="false"
            id="org.eclipse.datatools.connectivity.oda.flatfile.dataSet"
            initialPageId="oda.flatfile.ui.tablePage">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="Select Table"/>
         <dataSetPage
               displayName="%wizard.data.set.page.title"
               icon="icons/file.gif"
               id="oda.flatfile.ui.tablePage"
               path="/"
               wizardPageClass="org.eclipse.datatools.connectivity.oda.flatfile.ui.wizards.FileSelectionWizardPage"/>
      </dataSetUI>
   </extension>

</plugin>
