<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!-- Eclipse C-S Help plug-in for: org.eclipse.datatools.connectivity.doc.user -->

<plugin>
   <extension point="org.eclipse.help.contexts">
      <contexts file="contexts.xml" plugin="org.eclipse.datatools.connectivity.ui"/>
      <contexts file="contexts.xml" plugin="org.eclipse.datatools.connectivity.ui.dse"/>
      <contexts file="contexts.xml" plugin="org.eclipse.datatools.connectivity.sqm.core.ui"/>
      <contexts file="contexts.xml" plugin="org.eclipse.datatools.connectivity.repository.file"/>
      <contexts file="contexts.xml" plugin="org.eclipse.datatools.connectivity.db.generic.ui"/>
      <contexts file="contexts.xml" plugin="org.eclipse.datatools.connectivity.db.derby"/>
   </extension>
   <extension point="org.eclipse.datatools.help.helpKeyProperties">
      <contextIds plugin="org.eclipse.datatools.connectivity.ui"
                  file="org.eclipse.datatools.connectivity.ui.contextIds.properties"/>
      <searchExpressions plugin="org.eclipse.datatools.connectivity.ui"
                         file="org.eclipse.datatools.connectivity.ui.searchExpressions.properties"/>
      <contextIds plugin="org.eclipse.datatools.connectivity.ui.dse"
                  file="org.eclipse.datatools.connectivity.ui.dse.contextIds.properties"/>
      <searchExpressions plugin="org.eclipse.datatools.connectivity.ui.dse"
                         file="org.eclipse.datatools.connectivity.ui.dse.searchExpressions.properties"/>
      <contextIds plugin="org.eclipse.datatools.connectivity.sqm.core.ui"
                  file="org.eclipse.datatools.connectivity.sqm.core.ui.contextIds.properties"/>
      <searchExpressions plugin="org.eclipse.datatools.connectivity.sqm.core.ui"
                         file="org.eclipse.datatools.connectivity.sqm.core.ui.searchExpressions.properties"/>
      <contextIds plugin="org.eclipse.datatools.connectivity.repository.file"
                  file="org.eclipse.datatools.connectivity.repository.file.contextIds.properties"/>
      <searchExpressions plugin="org.eclipse.datatools.connectivity.repository.file"
                         file="org.eclipse.datatools.connectivity.repository.file.searchExpressions.properties"/>
      <contextIds plugin="org.eclipse.datatools.connectivity.db.generic.ui"
                  file="org.eclipse.datatools.connectivity.db.generic.ui.contextIds.properties"/>
      <searchExpressions plugin="org.eclipse.datatools.connectivity.db.generic.ui"
                         file="org.eclipse.datatools.connectivity.db.generic.ui.searchExpressions.properties"/>
      <contextIds plugin="org.eclipse.datatools.connectivity.db.derby"
                  file="org.eclipse.datatools.connectivity.db.derby.contextIds.properties"/>
      <searchExpressions plugin="org.eclipse.datatools.connectivity.db.derby"
                         file="org.eclipse.datatools.connectivity.db.derby.searchExpressions.properties"/>
   </extension>
</plugin>

<!-- Plug-in manifest generated by TPS_build: ditamap-cs.pipeline.1-3_20090521092446 -->
