<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.editor.SQLScrapbookEditor"
            contributorClass="org.eclipse.datatools.sqltools.sqleditor.internal.SQLEditorActionContributor"
            default="true"
            extensions="ddl,sql,sqlpage"
            icon="images/qrydoc.gif"
            id="org.eclipse.datatools.sqltools.sqlscrapbook.SQLScrapbookEditor"
            name="%ScrapbookEditor.name"/>
   </extension>


   <extension
         point="org.eclipse.ui.popupMenus">
<!-- SQL Scrapbook Menu -->
      <viewerContribution
            targetID="org.eclipse.datatools.connectivity.server.ui.navigator.serverExplorer"
            id="org.eclipse.datatools.connectivity.server.ui.navigator.popupMenus.sqlscrapbook">
         <action
               label="%SQLScrapbookAction.title_UI_"
               class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.actions.SQLScrapbookAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.actions.popupMenus.sqlscrapbook">
         </action>
         <visibility>
            <objectClass
                  name="org.eclipse.datatools.modelbase.sql.schema.Database">
            </objectClass>
         </visibility>
      </viewerContribution>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizardCategoryName"
            id="org.eclipse.datatools.sql">
      </category>
      <wizard
            name="%NewSQLScrapbookPage.label"
            icon="images/qrydoc.gif"
            category="org.eclipse.datatools.sql"
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard"
            id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard">
         <description>
            %NewSQLScrapbookPage.description
         </description>
      </wizard>
   </extension>
   
   <!-- preference pages 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.preferences.SQLFilePage"
            category="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.data/org.eclipse.datatools.sqltools.sqleditor.preferences.SQLEditor" 
            name="%datatools.preferences.sqlfile.name"
            id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.preferences.sqlfile"/>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.eclipse.datatools.sqltools.sqleditor.category"
            name="%DatabaseManagement.command.attach"
            id="org.eclipse.datatools.sqltools.sqleditor.attachProfileAction"/>
   </extension>
   
   <!-- Register a factory for recreating SQLEditorFileEditorInput objects when
        the Workbench is restarted. -->
   <extension 
      point = "org.eclipse.ui.elementFactories"> 
         <factory 
            id ="org.eclipse.datatools.sqltools.internal.sqlscrapbook.SQLFileEditorInputFactory" 
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.SQLFileEditorInputFactory"> 
         </factory> 
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.datatools.sqltools.sqlscrapbook.actionSet"
            label="SQL Scrapbook Action Set"
            visible="false">
         <action
               class="org.eclipse.datatools.sqltools.sqlscrapbook.actions.OpenScrapbookAction"
               icon="images/qrydoc.gif"
               id="org.eclipse.datatools.sqltools.sqlscrapbook.actions.OpenScrapbookAction"
               label="Open SQL Scrapboo&amp;k"
               toolbarPath="group.sqleditor.open"
               tooltip="Open scrapbook to edit SQL statements">
         </action>
      </actionSet>
   </extension> 
   
    <!-- next are how to hook DTP SQL Editor perspective/actions with other perspectives/actions of eclipse -->
    <extension point="org.eclipse.ui.perspectiveExtensions"> 
        <!-- extension to the DTP editor perspective -->
        <perspectiveExtension
             targetID="org.eclipse.datatools.sqltools.sqleditor.perspectives.EditorPerspective">
	    	 <actionSet
               id="org.eclipse.datatools.sqltools.sqlscrapbook.actionSet">
             </actionSet>

            <!-- Add New SQL File Wizard shortcuts !-->
            <newWizardShortcut id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard"/>
                  
        </perspectiveExtension>

    </extension>
   
</plugin>
