<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.editor.SQLScrapbookEditor"
            contributorClass="org.eclipse.datatools.sqltools.sqleditor.internal.SQLEditorActionContributor"
            default="true"
            extensions="ddl,sql,sqlpage"
            icon="images/qrydoc.gif"
            id="org.eclipse.datatools.sqltools.sqlscrapbook.SQLScrapbookEditor"
            name="%ScrapbookEditor.name"/>
   </extension>


   <extension
         point="org.eclipse.ui.popupMenus">
<!-- SQL Scrapbook Menu -->
      <viewerContribution
            targetID="org.eclipse.datatools.connectivity.server.ui.navigator.serverExplorer"
            id="org.eclipse.datatools.connectivity.server.ui.navigator.popupMenus.sqlscrapbook">
         <action
               label="%SQLScrapbookAction.title_UI_"
               class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.actions.SQLScrapbookAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.actions.popupMenus.sqlscrapbook">
         </action>
         <visibility>
            <objectClass
                  name="org.eclipse.datatools.modelbase.sql.schema.Database">
            </objectClass>
         </visibility>
      </viewerContribution>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizardCategoryName"
            id="org.eclipse.datatools.sql">
      </category>
      <wizard
            name="%NewSQLScrapbookPage.label"
            icon="images/qrydoc.gif"
            category="org.eclipse.datatools.sql"
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard"
            id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard">
         <description>
            %NewSQLScrapbookPage.description
         </description>
      </wizard>
   </extension>
   
   <!-- preference pages 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.preferences.SQLFilePage"
            category="org.eclipse.datatools.connectivity.sqm.core.internal.ui.preferences.data/org.eclipse.datatools.sqltools.sqleditor.preferences.SQLEditor" 
            name="%datatools.preferences.sqlfile.name"
            id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.preferences.sqlfile"/>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.eclipse.datatools.sqltools.sqleditor.category"
            name="%DatabaseManagement.command.attach"
            id="org.eclipse.datatools.sqltools.sqleditor.attachProfileAction"/>
   </extension>
   
</plugin>
