<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.datatools.sqltools.sqlscrapbook"
   name="%pluginName"
   version="0.7.0"
   provider-name="%providerName"
   class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.SqlscrapbookPlugin">

   <runtime>
      <library name="sqlscrapbook.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.datatools.sqltools.sqleditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.datatools.modelbase.sql"/>
      <import plugin="org.eclipse.datatools.sqltools.sql"/>
      <import plugin="org.eclipse.datatools.sqltools.editor.core"/>
      <import plugin="org.eclipse.datatools.connectivity"/>
      <import plugin="org.eclipse.datatools.modelbase.dbdefinition"/>
      <import plugin="org.eclipse.datatools.sqltools.common.ui"/>
      <import plugin="org.eclipse.datatools.connectivity.db.generic"/>
      <import plugin="org.eclipse.datatools.connectivity.ui"/>
      <import plugin="org.eclipse.datatools.connectivity.db.generic.ui"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.editor.SQLScrapbookEditor"
            contributorClass="org.eclipse.datatools.sqltools.sqleditor.internal.SQLEditorActionContributor"
            default="true"
            extensions="ddl,sql,sqlpage"
            icon="images/qrydoc.gif"
            id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.editor.SQLScrapbookEditor"
            name="SQL Editor"/>
   </extension>


   <extension
         point="org.eclipse.ui.popupMenus">
<!-- SQL Scrapbook Menu -->
      <viewerContribution
            targetID="org.eclipse.datatools.connectivity.server.ui.navigator.serverExplorer"
            id="org.eclipse.datatools.connectivity.server.ui.navigator.popupMenus.sqlscrapbook">
         <action
               label="%SQLScrapbookAction.title_UI_"
               class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.actions.SQLScrapbookAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.actions.popupMenus.sqlscrapbook">
         </action>
         <visibility>
            <objectClass
                  name="org.eclipse.datatools.modelbase.sql.schema.Database">
            </objectClass>
         </visibility>
      </viewerContribution>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizardCategoryName"
            id="org.eclipse.datatools.sql">
      </category>
      <wizard
            name="%NewSQLScrapbookPage.label"
            icon="images/qrydoc.gif"
            category="org.eclipse.datatools.sql"
            class="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard"
            id="org.eclipse.datatools.sqltools.internal.sqlscrapbook.wizards.NewSQLScrapbookFileCreationWizard">
         <description>
            %NewSQLScrapbookPage.description
         </description>
      </wizard>
   </extension>
</plugin>
