<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.datatools.sqltools.parsers.sql.xml.query.test"
   name="Test Plug-in"
   version="1.0.0"
   provider-name="IBM"
   class="org.eclipse.datatools.sqltools.parsers.sql.xml.query.test.TestPlugin">

   <runtime>
      <library name="test.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.datatools.sqltools.parsers.sql.xml.query"/>
      <import plugin="org.eclipse.datatools.sqltools.parsers.sql.query.test"/>
   </requires>

</plugin>
