<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 *************************************************************************
 * Copyright (c) 2006 Actuate Corporation.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License 2.0
 * which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-2.0/
 *
 * Contributors:
 *  Actuate Corporation - initial API and implementation
 *  
 *************************************************************************
 *
 * $Id: plugin.xml,v 1.1 2006/04/06 11:12:54 lchan Exp $
 */
-->

<plugin>
   <extension-point id="driverBridge" name="DTP ODA Consumer Helper Driver Bridge" schema="schema/driverBridge.exsd"/>
   <extension-point id="propertyProvider" name="DTP ODA Consumer Data Source Property Service Provider" schema="schema/propertyProvider.exsd"/>

</plugin>
