<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.driverExtension">
      <category
            description="%driver.category.description"
            id="org.eclipse.datatools.enablement.hsqldb.driver.category"
            name="%driver.category.name"
            parentCategory="org.eclipse.datatools.connectivity.db.driverCategory"/>
      <category
            description="%driver.version.category.description"
            id="org.eclipse.datatools.enablement.hsqldb.1_8.category"
            name="%driver.version.category.name"
            parentCategory="org.eclipse.datatools.enablement.hsqldb.driver.category"/>
      <driverTemplate
            createDefault="false"
            description="%driver.description"
            emptyJarListIsOK="false"
            id="org.eclipse.datatools.enablement.hsqldb.1_8.driver"
            jarList="hsqldb.jar"
            name="%driver.name"
            parentCategory="org.eclipse.datatools.enablement.hsqldb.1_8.category">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%DRIVER_CLASS_PROPERTY_NAME"
                  value="org.hsqldb.jdbcDriver"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%VENDOR_PROPERTY_NAME"
                  value="HSQLDB"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%VERSION_PROPERTY_NAME"
                  value="1.8"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%DATABASE_NAME_PROPERTY_NAME"
                  value="SAMPLE"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%CONNECTION_URL_PROPERTY_NAME"
                  value="jdbc:hsqldb:MyDB"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%USER_ID_PROPERTY_NAME"
                  value="sa"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>
   </extension>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionFactory
            class="org.eclipse.datatools.enablement.hsqldb.connection.HSQLDBJDBCConnectionFactory"
            id="java.sql.Connection"
            name="%connection.factory"
            profile="org.eclipse.datatools.enablement.hsqldb.connectionProfile"/>
      <connectionProfile
            category="org.eclipse.datatools.connectivity.db.category"
            icon="icons/jdbc_16.gif"
            id="org.eclipse.datatools.enablement.hsqldb.connectionProfile"
            name="%connection.profile"
            pingFactory="org.eclipse.datatools.enablement.hsqldb.connection.HSQLDBJDBCConnectionFactory"/>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.mappings">
      <providerIDtoDriverCategoryID
            driverCategoryID="org.eclipse.datatools.enablement.hsqldb.driver.category"
            providerID="org.eclipse.datatools.enablement.hsqldb.connectionProfile">
      </providerIDtoDriverCategoryID>
   </extension>

<!--
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.catalog">
      <overrideLoader
            provider="org.eclipse.datatools.enablement.hsqldb.catalog.HSQLDBSchemaLoader"
            eclass="org.eclipse.datatools.modelbase.sql.schema.Schema"
            product="HSQLDB"
            version="1.8"/>
   </extension>
-->
</plugin>
